<div class="account">
	<a ui-sref="employer({id: session.employer})" ng-if="session && session.employerAccess">
		<img src="../images/left-chevron.svg">
		Назад в кабинет
	</a>
	<div class="account__content">
		<div class="account__info">
			<div ng-bind="vm.user.firstname + ' ' + vm.user.lastname"></div>
			<div ng-bind="'Email: ' + vm.user.email"></div>
			<div>
				<span ng-bind="'Телефон: +7 ' + vm.user.phone"></span>
				<img src="../images/edit.svg" ng-click="vm.openEditor()" title="Редактировать" ng-if="session">
			</div>
			
			<input class="input" type="text" ng-model="vm.objectToEdit.phone" ng-if="vm.editor">
			<div ng-bind="'Дата регистрации: ' + (vm.user.date | myDate)"></div>
			<button class="btn btn_dashboard" ng-click="vm.editAccount()" ng-if="vm.editor">Сохранить</button>
			<button class="btn btn_disable" ng-click="vm.closeEditor()" ng-if="vm.editor">Отмена</button>
		</div>
		<div class="account__actions">
			<img src="../images/trash.svg" ng-click="vm.openModal()" title="Удалить" ng-if="session">
		</div>
	</div>
</div>


<div class="modal__backdrop" ng-if="vm.modal" ng-click="vm.closeModal()">
	<div class="modal">
		<div class="modal__text">Вы уверены что хотите удалить?</div>
		<button class="btn btn_manager" ng-click="vm.deleteAccount()">Удалить</button>
		<button class="btn btn_disable" ng-click="vm.closeModal()">Отмена</button>
	</div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<div ng-bind="vm.message"></div>
	<div class="message__close" ng-click="vm.message = null">&times;</div>
</div>