<div class="employer-dash">
	<div class="employer-dash__title-block" ng-if="session && session.employerAccess">
		<div class="employer-dash__title">Личный кабинет Работодателя</div>
		<img src="../images/trash.svg" ng-click="vm.openDeletation()" title="Удалить аккаунт Работодателя">
	</div>
	
	<div class="employer-dash__header">
		<div class="employer-dash__info">
			<div class="employer-dash__subtitle">Информация о компании: <img src="../images/edit.svg" ng-click="vm.openEmployerEditor()" ng-if="session && session.employerAccess" title="Редактировать"></div>
			<span ng-bind="'Наименование компании: ' + vm.employer.name"></span>
			<span ng-bind="'Сайт компании: ' + vm.employer.site"></span>
			<span ng-bind="'Количество сотрудников компании: ' + (vm.employer.employeesQuantity | salary)+' сотрудников'"></span>
			<span ng-bind="'Местонахождение головного офиса: ' + vm.employer.city"></span>

			<div class="employer-dash__managers" ng-if="session && session.employerAccess">
				<div class="employer-dash__subtitle">HR-менеджеры:</div>
				<span class="employer-dash__item" ng-repeat="manager in vm.managers" ng-bind="manager.firstname+' '+manager.lastname"></span>
			</div>

			<div class="employer-dash__managers" ng-if="session && session.employerAccess">
				<div class="employer-dash__subtitle" ng-bind="'Отклики на Вакансии ('+vm.responsesCount+'):'"></div>
				<div class="employer-dash_vacancy-block" ng-repeat="vacancy in vm.vacancies" ng-if="vacancy.responses.length > 0">
					<div class="employer-dash_vacancy" ng-bind="vacancy.position"></div> 
					<div class="employer-dash__item" ng-repeat="response in vacancy.responses">
						<span ng-bind="'Соискатель: '+response.employee_firstname + ' ' + response.employee_lastname" ui-sref="cv({id: response.cv_id })"></span>
						<span ng-bind="'Дата отклика на вакансию: '+ (response.date | myDate)"></span>
					</div>
				</div>
			</div>

			<div class="employer-dash__managers" ng-if="session && session.employerAccess">
				<div class="employer-dash__subtitle" ng-bind="'Приглашенные на собеседование ('+vm.employer.invited.length+'):'"></div>
				<div class="employer-dash__item" ng-repeat="employee in vm.employer.invited">
					<span ng-bind="'Соискатель: '+employee.employee_firstname + ' ' + employee.employee_lastname + ' (' + employee.cv_position+')'" ui-sref="cv({id: employee.cv_id })"></span>
					<span ng-bind="' Дата отправки приглашения: ' + (employee.date | myDate)"></span>
				</div>
			</div>
		</div>

		<div class="employer-dash__vacancies">
			<div class="employer-dash__item-head" >
				<div class="employer-dash__subtitle">Открытые вакансии:</div>
				<div class="pagination" ng-if="vm.pages.length > 1">
					<div class="pagination__item" ng-click="vm.prevPage()"><</div>
					<div ng-class="{'active': vm.currentPage === (page + 1)}" class="pagination__item" ng-repeat="page in vm.pages track by $index" ng-bind="page+1" ng-click="vm.displayPage(page+1)"></div>
					<div class="pagination__item" ng-click="vm.nextPage()">></div>
				</div>
			</div>
			<span class="employer-dash__item" ng-repeat="vacancy in vm.vacancies">
				<div class="employer-dash__item-head">
					<span ng-bind="vacancy.position"></span>
					<img src="../images/external-link.svg" ui-sref="vacancy({id: vacancy._id})" title="Перейти к вакансии">
				<img src="../images/trash.svg" ng-click="vm.openModal(vacancy, $index)" title="Удалить" ng-if="session && session.employerAccess">
				</div>	
				<span ng-bind="(vacancy.salary | salary)+' KZT'"></span>
			</span>
		</div>
	</div>
</div>

<div class="modal__backdrop" ng-if="vm.modal" ng-click="vm.closeModal()">
	<div class="modal">
		<div class="modal__text">Вы уверены что хотите удалить?</div>
		<button class="btn btn_manager" ng-click="vm.deleteVacancy()">Удалить</button>
		<button class="btn btn_disable" ng-click="vm.closeModal()">Отмена</button>
	</div>
</div>

<div class="modal__backdrop" ng-if="vm.deletation">
	<div class="modal">
		<div class="modal__text">Вы уверены что хотите удалить?</div>
		<button class="btn btn_manager" ng-click="vm.deleteEmployer()">Удалить</button>
		<button class="btn btn_disable" ng-click="vm.closeDeletation()">Отмена</button>
	</div>
</div>

<div class="modal__backdrop" ng-if="vm.editor">
	<div class="modal">
		<div class="modal__title">Редактирование информации о Компании</div>
		<form class="modal__form" ng-submit="vm.editEmployer()">
			<input class="input" type="text" name="name" ng-model="vm.objectToEdit.name">
			<input class="input" type="text" name="site" ng-model="vm.objectToEdit.site">
			<input class="input" type="number" name="employeesQuantity" ng-model="vm.objectToEdit.employeesQuantity">
			<input class="input" type="text" name="city" ng-model="vm.objectToEdit.city">
			<button class="btn btn_manager" type="submit">Сохранить</button>
			<button class="btn btn_disable" type="reset" ng-click="vm.closeEmployerEditor()">Отмена</button>
		</form>
		
	</div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<div ng-bind="vm.message"></div>
	<div class="message__close" ng-click="vm.message = null">&times;</div>
</div>
