<div class="home">
	<div class="home-top">
		<div class="home-left">
			<h1>Найди работу мечты</h1>
			<div class="home-left-btns">
				<button>Разместить резюме</button>
				<button>Опубликовать вакансию</button>
			</div>
		</div>

		<div class="home-right">
			<div class="home-statistics">
				<div>
					<span>1 834 818</span>
					<small>резюме</small>
				</div>
				<div>
					<span>55 555</span>
					<small>вакансий</small>
				</div>
				<div>
					<span>51 000</span>
					<small>компаний</small>
				</div>
			</div>
			<form class="home-auth" ng-submit="vm.signIn()">
				<div class="home-auth-nav">
					<span ng-class="{'active': vm.registration == false}" ng-click="vm.registration = false">Войти</span>
					<span ng-class="{'active': vm.registration == true}" ng-click="vm.registration = true">Регистрация</span>
				</div>
				<div class="home-sign-in-content" ng-if="!vm.registration">
					<input type="text" ng-model="vm.email" placeholder="Email">
					<input type="password" ng-model="vm.password" placeholder="Пароль">
					<button class="home-sign-in-btn" type="submit">Войти</button>	
				</div>
				<div class="home-sign-up-content" ng-if="vm.registration">
					<button class="home-sign-up-btn" ui-sref="signup-employee">Для соискателей</button>
					<button class="home-sign-up-btn" ui-sref="signup-employer">Для работодателей</button>
				</div>
			</form>

			

		</div>
	</div>

	<div class="home-options">
		<div class="home-options-item">
			<img src="../images/opt1.jpg">
			<span>Готовое резюме: доверьте создание резюме экспертам</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt2.jpg">
			<span>"Яркое резюме" выделит вас из сотен соискателей</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt3.jpg">
			<span>Лучшие компании страны здесь</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt4.jpg">
			<span>Будьте первым в списке кандидатов</span>
		</div>
	</div>

	<div class="home-main">
		<div class="home-main-companies">
			<span>Работа в компаниях Казахстана</span>
		</div>
		<div class="home-main-vacancies-today">
			<span>Вакансии дня в Казахстане</span>
		</div>
		<div class="home-main-ads">
			
		</div>
		<div class="home-main-vacancies-spec">
			
		</div>
		<div class="home-main-secondary">
			<div class="home-main-secondary-news">
				
			</div>
			<div class="home-main-secondary-articles">
				
			</div>
			<div class="home-main-secondary-spec">
				
			</div>
			<div class="home-main-secondary-city">
				
			</div>
		</div>
		<div class="home-main-seo">
			<span>Работа в Казахстане</span>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>

</div>

