<div class="home">
	<div class="home__top">

		<div class="home__title">
			<h1>Найди работу мечты</h1>
			<div class="home__title-btns">
				<button class="btn" ui-sref="signin">Разместить резюме</button>
				<button class="btn" ui-sref="signin">Опубликовать вакансию</button>
			</div>
		</div>

		<div class="home__info">
			<div class="home__statistics">
				<div>
					<span ng-bind="vm.cvs.length"></span>
					<small>резюме</small>
				</div>
				<div>
					<span ng-bind="vm.vacancies.length"></span>
					<small>вакансий</small>
				</div>
				<div>
					<span ng-bind="vm.employers.length"></span>
					<small>компаний</small>
				</div>
			</div>

			<div class="home__auth">
				<div class="home__auth-nav">
					<span ng-class="{'active': vm.registration == false}" ng-click="vm.registration = false">Войти</span>
					<span ng-class="{'active': vm.registration == true}" ng-click="vm.registration = true">Регистрация</span>
				</div>
				<div class="home__auth-content" ng-if="!vm.registration">
					<div class="home__auth-content-title">Войти в личный кабинет</div>
					<form class="home__auth-form" ng-submit="vm.signIn()">
						<input class="input" type="email" ng-model="vm.email" placeholder="Email" required>
						<input class="input" type="password" ng-model="vm.password" placeholder="Пароль" required>
						<button class="home__auth-content-btn" type="submit">Войти в личный кабинет</button>
					</form>
				</div>
				<div class="home__auth-content" ng-if="vm.registration">
					<span>Регистрация</span>
					<button class="home__auth-content-btn" ui-sref="signup-employee">Для соискателей</button>
					<button class="home__auth-content-btn" ui-sref="signup-employer">Для работодателей</button>
				</div>
			</div>

		</div>
	</div>

	<div class="home__options">
		<div class="home__option">
			<img src="../images/opt1.jpg">
			<span>Готовое резюме: доверьте создание резюме экспертам</span>
		</div>
		<div class="home__option">
			<img src="../images/opt2.jpg">
			<span>"Яркое резюме" выделит вас из сотен соискателей</span>
		</div>
		<div class="home__option">
			<img src="../images/opt3.jpg">
			<span>Лучшие компании страны здесь</span>
		</div>
		<div class="home__option">
			<img src="../images/opt4.jpg">
			<span>Будьте первым в списке кандидатов</span>
		</div>
	</div>

	<div class="home__main">
		<div class="home__main-employers">
			<span class="home__main-subtitle">Лучшие Работодатели</span>
			<li class="home__main-item" ng-repeat="employer in vm.employers" ui-sref="employer({id: employer._id})">
				<span ng-bind="(employer.name)"></span>
				<span ng-bind="'Местонахождение: '+(employer.city)"></span>
				<span ng-bind="'Штат: '+(employer.employeesQuantity)+' чел.'"></span>
				<span ng-bind="'Вакансий: '+(employer.vacancies.length)"></span>
			</li>
		</div>
		<div class="home__main-vacancies">
			<span class="home__main-subtitle">Вакансии в Казахстане</span>
			<li class="home__main-item" ng-repeat="vacancy in vm.vacancies" ui-sref="vacancy({id: vacancy._id})">
				<span ng-bind="(vacancy.position)"></span>
				<span ng-bind="(vacancy.salary | salary)+' KZT'"></span>
				<span ng-bind="'Опыт не менее: '+(vacancy.xpLength)+' лет'"></span>
			</li>
		</div>
		<div class="home__main-cvs">
			<span class="home__main-subtitle">Резюме Соискателей</span>
			<li class="home__main-item" ng-repeat="cv in vm.cvs" ui-sref="cv({id: cv._id})">
				<span ng-bind="(cv.position)"></span>
				<span ng-bind="(cv.salary | salary)+' KZT'"></span>
				<span ng-bind="'Опыт работы: '+(cv.xpLength)+' лет'"></span>
			</li>
		</div>
	</div>

</div>

<span class="message success" ng-if="vm.success">
	Авторизация прошла успешно
	<span class="message-close" ng-click="vm.success = false">&times;</span>
</span>

<span class="message error" ng-if="vm.error">
	Не верно введены Email или пароль
	<span class="message-close" ng-click="vm.error = false">&times;</span>
</span>

