<div class="home">
	<div class="home-top">
		<div class="home-left">
			<h1>Найди работу мечты</h1>
			<div class="home-left-btns">
				<button ui-sref="signin">Разместить резюме</button>
				<button ui-sref="signin">Опубликовать вакансию</button>
			</div>
		</div>

		<div class="home-right">
			<div class="home-statistics">
				<div>
					<span ng-bind="vm.cvs.length"></span>
					<small>резюме</small>
				</div>
				<div>
					<span ng-bind="vm.vacancies.length"></span>
					<small>вакансий</small>
				</div>
				<div>
					<span ng-bind="vm.employers.length"></span>
					<small>компаний</small>
				</div>
			</div>
			<div class="home-auth">
				<div class="home-auth-nav">
					<span ng-class="{'active': vm.registration == false}" ng-click="vm.registration = false">Войти</span>
					<span ng-class="{'active': vm.registration == true}" ng-click="vm.registration = true">Регистрация</span>
				</div>
				<div class="home-auth-content" ng-if="!vm.registration">
					<div class="home-auth-content-title">Войти в личный кабинет</div>
					<form class="home-auth-form" ng-submit="vm.signIn()">
						<input type="email" ng-model="vm.email" placeholder="Email" required>
						<input type="password" ng-model="vm.password" placeholder="Пароль" required>
						<button class="home-auth-content-btn blue" type="submit">Войти в личный кабинет</button>
					</form>
				</div>
				<div class="home-auth-content" ng-if="vm.registration">
					<span>Регистрация</span>
					<button class="home-auth-content-btn red" ui-sref="signup-employee">Для соискателей</button>
					<button class="home-auth-content-btn red" ui-sref="signup-employer">Для работодателей</button>
				</div>
			</div>
		</div>
	</div>

	<div class="home-options">
		<div class="home-options-item">
			<img src="../images/opt1.jpg">
			<span>Готовое резюме: доверьте создание резюме экспертам</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt2.jpg">
			<span>"Яркое резюме" выделит вас из сотен соискателей</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt3.jpg">
			<span>Лучшие компании страны здесь</span>
		</div>
		<div class="home-options-item">
			<img src="../images/opt4.jpg">
			<span>Будьте первым в списке кандидатов</span>
		</div>
	</div>

	<div class="home-main">
		<div class="home-main-employers">
			<span class="home-main-block-title">Лучшие Работодатели</span>
			<li class="home-main-block-item" ng-repeat="employer in vm.employers" ui-sref="employer({id: employer._id})">
				<span ng-bind="(employer.name)"></span>
				<span ng-bind="'Местонахождение: '+(employer.city)"></span>
				<span ng-bind="'Штат: '+(employer.employeesQuantity)+' чел.'"></span>
				<span ng-bind="'Вакансий: '+(employer.vacancies.length)"></span>
			</li>
		</div>
		<div class="home-main-vacancies">
			<span class="home-main-block-title">Вакансии в Казахстане</span>
			<li class="home-main-block-item" ng-repeat="vacancy in vm.vacancies" ui-sref="vacancy({id: vacancy._id})">
				<span ng-bind="(vacancy.position)"></span>
				<span ng-bind="(vacancy.salary | salary)+' KZT'"></span>
				<span ng-bind="'Опыт не менее: '+(vacancy.xpLength)+' лет'"></span>
			</li>
		</div>
		<div class="home-main-cvs">
			<span class="home-main-block-title">Резюме Соискателей</span>
			<li class="home-main-block-item" ng-repeat="cv in vm.cvs" ui-sref="cv({id: cv._id})">
				<span ng-bind="(cv.position)"></span>
				<span ng-bind="(cv.salary | salary)+' KZT'"></span>
				<span ng-bind="'Опыт работы: '+(cv.xpLength)+' лет'"></span>
			</li>
		</div>
	</div>

</div>

<span class="message success" ng-if="vm.success">
	Авторизация прошла успешно
	<i class="message-close" ng-click="vm.success = false">&times;</i>
</span>

<span class="message error" ng-if="vm.error">
	Не верно введены Email или пароль
	<i class="message-close" ng-click="vm.error = false">&times;</i>
</span>

