<div class="newcv" ng-if="session && !session.employerAccess">
	<a class="newcv__back-link" ui-sref="user({id: session._id})"><img src="../images/left-chevron.svg"> Назад в кабинет</a>
	<div class="newcv__title">Создание резюме</div>
	<form class="newcv__form" ng-submit="vm.saveCV()">
		<div class="newcv__form-head">
			<div class="newcv__form-file">
				<input id="photo" type="file" ng-file-model="vm.file" accept="image/*">
				<label ng-click="vm.getFile()">Загрузить фото к резюме</label>
			</div>
			<div class="newcv__form-personal">
				<div class="newcv__form-field">
					<input ng-class="{'filled': vm.birthDate != null && vm.birthDate != '' }" class="input input_newcv" type="text" ng-model="vm.birthDate" placeholder="Введите дату рождения в формате гггг-мм-дд" required>	
				</div>
				<div class="newcv__form-field">
					<div class="newcv__form-input-radio">
						<label>Муж</label>
						<input type="radio" value="Мужчина" ng-model="vm.gender" required>
						<label>Жен</label>
						<input type="radio" value="Женщина" ng-model="vm.gender">
					</div>
				</div>
				<div class="newcv__form-field">
					<input ng-class="{'filled': vm.citizenship != null && vm.citizenship != '' }" class="input input_newcv" type="text" name="citizenship" ng-model="vm.citizenship" placeholder="Введите гражданство">
				</div>
				
				<div class="newcv__form-field">
					<input ng-class="{'filled': vm.address != null && vm.address != '' }" class="input input_newcv" type="text" name="address" ng-model="vm.address" placeholder="Введите адрес">
				</div>
			</div>
		</div>
		
		<div class="newcv__form-body">
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.position != null && vm.position != '' }" class="input input_newcv" type="text" name="position" ng-model="vm.position" placeholder="Введите должность" required>
			</div>

			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.salary != null && vm.salary > 0 }" class="input input_newcv" type="number" ng-model="vm.salary" placeholder="Введите размер заработной платы" required>
			</div>
			
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.specialization != null && vm.specialization != '' }" class="input input_newcv" type="text" name="specialization" ng-model="vm.specialization" placeholder="Введите специализацию" required>
			</div>
			
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.xpLength != null && vm.xpLength > 0 }" class="input input_newcv" type="number" ng-model="vm.xpLength" placeholder="Введите стаж работы (лет)" required>
			</div>
			
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.education != null && vm.education != '' }" class="input input_newcv" type="text" name="education" ng-model="vm.education" placeholder="Введите наименование ВУЗа" required>
			</div>
			
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.courses != null && vm.courses != '' }" class="input input_newcv" type="text" name="courses" ng-model="vm.courses" placeholder="Введите наименование пройденных курсов">
			</div>
			
			<div class="newcv__form-field">
				<input ng-class="{'filled': vm.work != null && vm.work != '' }" class="input input_newcv" type="text" name="work" ng-model="vm.work" placeholder="Введите наименование прежнего места работы">
			</div>

			<div class="newcv__form-field">
				<div class="newcv__form-skills">
					<input class="input" type="text" ng-model="vm.skill" placeholder="Навык" ng-keyup="vm.keyWatcher($event)">
					<div class="skills__add-btn" ng-click="vm.addSkill()">&plus;</div>
					<div class="newcv__form-skills-offers" ng-if="vm.offersOpen">
						<div class="newcv__form-skills-offer" ng-repeat="offer in vm.offers track by $index" ng-bind="offer.name" ng-click="vm.selectSkill(offer.name)"></div>
					</div>
				</div>
			</div>

			<div class="newcv__view-skills">
				<div class="skills" ng-repeat="skill in vm.skills">
					<span ng-bind="skill"></span>
					<span ng-click="vm.removeSkill($index)">&times;</span>
				</div>
			</div>

			<button class="btn btn_dashboard" type="submit">Сохранить</button>
			<button class="btn btn_disable" type="reset" ng-click="vm.reset()">Сбросить</button>
		</div>
		
	</form>
</div>

<div class="spinner__backdrop" ng-if="vm.isLoading">
	<div class="spinner"></div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<div ng-bind="vm.message"></div>
	<div class="message__close" ng-click="vm.message = null">&times;</div>
</div>
