<div class="employer-dash" ng-if="session && session.employerAccess">
	<a class="newcv__back-link" ui-sref="employer({id: session.employer})"><img src="../images/left-chevron.svg"> Назад в кабинет</a>
	<div class="employer-dash__title" ng-if="session && session.employerAccess">Создание вакансии</div>
	<div class="employer-dash__content">
		<form class="employer-dash__form" ng-submit="vm.createVacancy()">
			<div class="employer-dash__form-group">
				<input class="input" type="text" name="position" ng-model="vm.position" placeholder="Должность" required>
			</div>
			<div class="employer-dash__form-group">
				<input class="input" type="number" ng-model="vm.salary" placeholder="Заработная плата" required>
			</div>
			<div class="employer-dash__form-group">
				<input class="input" type="number" ng-model="vm.xpLength" placeholder="Стаж работы" required>
			</div>
			<div class="employer-dash__form-group">
				<input class="input" type="text" name="workSchedule" ng-model="vm.workSchedule" placeholder="График работы" required>
			</div>
			<div class="employer-dash__form-group">
				<textarea class="textarea" ng-model="vm.requirements" placeholder="Требования" required></textarea>
			</div>
			<div class="employer-dash__form-group">
				<textarea class="textarea" ng-model="vm.preferable" placeholder="Желательно" required></textarea>
			</div>
			<div class="employer-dash__form-group">
				<textarea class="textarea" ng-model="vm.conditions" placeholder="Условия" required></textarea>
			</div>

			<div class="employer-dash__skills-group">
				<input class="input" type="text" ng-model="vm.skill" placeholder="Навык" ng-keyup="vm.keyWatcher($event)">
				<div class="skills__add-btn" ng-click="vm.addSkill()" title="Добавить навык">&plus;</div>
				<div class="employer__form-skills-offers" ng-if="vm.offersOpen">
					<div class="newcv__form-skills-offer" ng-repeat="offer in vm.offers track by $index" ng-bind="offer.name" ng-click="vm.selectSkill(offer.name)"></div>
				</div>
			</div>

			<div class="employer-dash__skills">
				<div class="skills" ng-repeat="skill in vm.skills">
					<span ng-bind="skill"></span>
					<span ng-click="vm.removeSkill($index)">&times;</span>
				</div>
			</div>

			<div class="employer-dash__form-controls">
				<button class="btn btn_dashboard" type="submit">Создать вакансию</button>
				<button class="btn btn_disable" type="reset">Сбросить</button>
			</div>
			
		</form>
	</div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<div ng-bind="vm.message"></div>
	<div class="message__close" ng-click="vm.message = null">&times;</div>
</div>