<div class="responses">

	<a class="cv__back-link" ui-sref="user({id: session._id})">
		<img src="../images/left-chevron.svg">
		Назад в кабинет
	</a>

	<div class="responses__title">Приглашения (отклики) и просмотры</div>
	<div class="responses__head">
		<div class="responses__subtitle" ng-bind="'Всего '+vm.invitesCount+' приглашений'"></div>
		<div class="responses__subtitle" ng-bind="'Всего '+vm.watchesCount+' просмотров'"></div>
	</div>


	<div class="responses__item-wrapper" ng-repeat="cv in vm.cvs">
		<div class="responses__item-info" ng-bind="'Резюме: ' + cv.position" ui-sref="cv({id: cv._id})"></div>
		<div class="responses__item" ng-repeat="invite in cv.invites">
			<span class="responses__item-invitation" ng-bind="'Приглашение от компании: '+invite.employer_name"></span>
			<span ng-bind="'('+ (invite.date | myDate) + ')'"></span>
			<img src="../images/external-link.svg" ui-sref="employer({id: invite.employer_id})" title="Перейти">
		</div>
		<div class="responses__item" ng-repeat="watch in cv.watches track by $index" >
			<span ng-bind="'Просмотр компанией: ' + watch.employer_name"></span>
			<span ng-bind="'('+ (watch.date | myDate) + ')'"></span>
		</div>
	</div>

</div>


