<div class="search">
	<div class="search__tools">
		<span class="search__tools-title">Настройки поиска</span>
		<div class="search__tool">
			<span ng-class="{'active': vm.chosenOption === 'Вакансии'}" class="search__tool-option" ng-click="vm.uniSearch('Вакансии', 'vacancy')">Вакансии</span>
			<span ng-class="{'active': vm.chosenOption === 'Резюме'}" class="search__tool-option" ng-click="vm.uniSearch('Резюме', 'cv')">Резюме</span>
			<span ng-class="{'active': vm.chosenOption === 'Компании'}" class="search__tool-option" ng-click="vm.uniSearch('Компании', 'employer')">Компании</span>
		</div>

		<div class="search__tool">
			<span class="search__tool-title">Опыт работы:</span>
			<div ng-class="{'selected': vm.year != 'Выберите опыт'}" class="search__tool-select">
				<select  ng-options="year as year for year in vm.years" ng-model="vm.year"></select>
				<img src="../images/sort-arrows.svg">
			</div>
		</div>

		<div class="search__tool">
			<span class="search__tool-title">Заработная плата:</span>
			<div ng-class="{'selected': vm.salary != 'Выберите оклад'}" class="search__tool-select">
				<select ng-options="salary as salary for salary in vm.salaries" ng-model="vm.salary"></select>
				<img src="../images/sort-arrows.svg">
			</div>
		</div>

	</div>
	<div class="search__results">
		<span class="search__results-title">Результаты поиска</span>

		<div class="search__results-filters">
			<span class="search__results-filter" ng-click="vm.sortToggler('position', 'name')">
				По алфавиту 
				<img class="search__results-filter-icon" src="../images/sort-up.svg" ng-if="vm.filter === 'position' || vm.filter === 'name'">
				<img class="search__results-filter-icon" src="../images/sort-down.svg" ng-if="vm.filter === '-position' || vm.filter === '-name'">
			</span>
			<span class="search__results-filter" ng-click="vm.sortToggler('salary')">
				По заработной плате 
				<img class="search__results-filter-icon" src="../images/sort-up.svg" ng-if="vm.filter === 'salary'">
				<img class="search__results-filter-icon" src="../images/sort-down.svg" ng-if="vm.filter === '-salary'">
			</span>
			<div class="pagination">
				<li class="pagination__item" ng-click="vm.prevPage()"><</li>
				<li ng-class="{'active': vm.currentPage === (page + 1)}" class="pagination__item" ng-repeat="page in vm.pages track by $index" ng-bind="page+1" ng-click="vm.displayPage(page+1)"></li>
				<li class="pagination__item" ng-click="vm.nextPage()">></li>
			</div>
		</div>

		<li class="search__result" ng-repeat="result in vm.results | orderBy: vm.filter" ng-if="vm.results[0].position === undefined">
			<span ng-if="vm.notFound">По запросу ничего не найдено</span>
			<span ng-bind="'Компания: '+result.name"></span>
			<span ng-bind="'Сайт: '+result.site"></span>
			<span ng-bind="'Сотрудники: '+result.employeesQuantity"></span>
			<span ng-bind="'Город: '+result.city"></span>
		</li>

		<li class="search__result" ng-repeat="result in vm.results | orderBy: vm.filter" ng-if="vm.results[0].name === undefined">
			<span ng-if="vm.notFound">По запросу ничего не найдено</span>
			<a ng-bind="result.position" ng-if="result.employer != undefined" ui-sref="vacancy({id: result._id})"></a>
			<a ng-bind="result.position" ng-if="result.employer == undefined" ui-sref="cv({id: result._id})"></a>
			<span ng-bind="'Оклад: '+(result.salary | salary)+' KZT'"></span>
			<span ng-bind="'Стаж: '+result.xpLength+' лет'"></span>
		</li>

	</div>
</div>
