<div class="signup-employer">
	<form class="signup-employer-form" ng-submit="vm.signUpEmployer()">
		<div class="signup-employer-form-title">Регистрация Работодателя</div>
		<input type="text" ng-model="vm.name" placeholder="Название компании" required>
		<input type="text" ng-model="vm.site" placeholder="Сайт" required>
		<input type="text" ng-model="vm.employeesQuantity" placeholder="Количество сотрудников" required>
		<input type="text" ng-model="vm.city" placeholder="Город" required>
		<div>Контактное лицо</div>
		<span>(конфиденциально)</span>
		<input type="text" ng-model="vm.firstname" placeholder="Имя" required>
		<input type="text" ng-model="vm.lastname" placeholder="Фамилия" required>
		<input type="email" ng-model="vm.email" placeholder="Email" required>
		<input type="text" ng-model="vm.phone" placeholder="Телефон" required>
		<input type="text" ng-model="vm.password" placeholder="Пароль" required>
		<button type="submit">Зарегистрировать компанию</button>
	</form>
</div>

<div class="spinner-backdrop" ng-show="vm.isLoading">
	<div class="spinner"></div>
</div>

<div class="message success" ng-if="vm.success">
	<span>Регистрация прошла успешно, пройдите пожалуйста по ссылке указанной в письме отправленное вам на почту.</span>
	<div ng-click="vm.success = false">&times;</div>
</div>

<div class="message error" ng-if="vm.error">
	<span>Ошибка регистрации. Пожалуйста повторите снова.</span>
	<i class="message-close" ng-click="vm.error = false">&times;</i>
</div>