<div class="signup-employee">
	<div class="wrapper">
		<div class="signup-title">Регистрация соискателя</div>
		<form class="signup-form" ng-submit="vm.signUpEmployee()">
			<div class="signup-form-group">
				<div class="signup-leftblock">Имя</div>
				<input type="text" ng-model="vm.firstname" required>
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Фамилия</div>
				<input type="text" ng-model="vm.lastname" required>
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Email</div>
				<input type="email" ng-model="vm.email" required>
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Телефон</div>
				<input type="text" ng-model="vm.phone" required>
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Пароль</div>
				<input type="text" ng-model="vm.password" required>
			</div>
			<div class="signup-form-group">
				<button type="submit" class="signup-form-btn">Зарегистрироваться</button>
			</div>
		</form>
		<div class="signup-content">
			<div class="signup-leftblock">
				<span class="signup-content-text">Уже зарегистрированы?</span>
				<a class="signup-content-link" ui-sref="signin">Войти</a>
			</div>				
			<div class="signup-content-social">
				<span class="signup-content-text">
				Нажимая «Зарегистрироваться», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия «Соглашения об оказании услуг по содействию в трудоустройстве (оферта)»
				</span>
			</div>
		</div>
	</div>
</div>


<div class="spinner-backdrop" ng-show="vm.isLoading">
	<div class="spinner"></div>
</div>


<span class="message success" ng-if="vm.success">
	Регистрация прошла успешно, пройдите по ссылке указанной в письме отправленное вам на почту.
	<i class="message-close" ng-click="vm.success = false">&times;</i>
</span>

<span class="message error" ng-if="vm.error">
	Произошла ошибка при регистрации, повторите еще раз.
	<i class="message-close" ng-click="vm.erro = false">&times;</i>
</span>
