<div class="signup-employer">
	<div class="signup-employer-form">
		<div class="signup-employer-form-title">Регистрация Работодателя</div>
		<input type="text" ng-model="vm.name" placeholder="Название компании">
		<input type="text" ng-model="vm.site" placeholder="Сайт">
		<input type="text" ng-model="vm.employeesQuantity" placeholder="Количество сотрудников">
		<input type="text" ng-model="vm.city" placeholder="Город">
		<div>Контактное лицо</div>
		<span>(конфиденциально)</span>
		<input type="text" ng-model="vm.firstname" placeholder="Имя">
		<input type="text" ng-model="vm.lastname" placeholder="Фамилия">
		<input type="email" ng-model="vm.email" placeholder="Email">
		<input type="text" ng-model="vm.phone" placeholder="Телефон">
		<button>Зарегистрировать компанию</button>
	</div>
</div>