<div class="signup-employee">
	<div class="wrapper">
		<div class="signup__title">Регистрация соискателя</div>
		<form class="signup__form" ng-submit="vm.signUpEmployee()">
			<div class="signup__form-field">
				<label for="firstname">Имя *</label>
				<input class="input" type="text" ng-model="vm.firstname" name="firstname" required>
				<span>Введите пожалуйста Ваше имя</span>
			</div>
			
			<div class="signup__form-field">
				<label for="lastname">Фамилия *</label>
				<input class="input" type="text" ng-model="vm.lastname" name="lastname" required>
				<span>Введите пожалуйста Вашу фамилию</span>
			</div>

			<div class="signup__form-field">
				<label for="email">Email *</label>
				<input class="input" type="email" ng-model="vm.email" name="email" required>
				<span>Введите пожалуйста Ваш Email</span>
			</div>

			<div class="signup__form-field">
				<label for="phone">Телефон *</label>
				<input class="input" type="tel" pattern="[0-9]{10}" ng-model="vm.phone" name="phone" required>
				<span>Введите пожалуйста Ваш номер телефона (не менее 10 цифр, без "+7" или "8" в начале)</span>
			</div>

			<div class="signup__form-field">
				<label for="password">Пароль *</label>
				<input class="input" type="password" ng-model="vm.password" name="password" required>
				<span>Придумайте пожалуйста пароль</span>
			</div>
			<div class="signup__form-field">
				<label></label>
				<button class="btn btn_signup-form" type="submit">Зарегистрироваться</button>
			</div>
		</form>
		<div class="signup__conditions-block">
			<div class="signup__auth-block">
				<span class="signup__auth-question">Уже зарегистрированы?</span>
				<div class="signup__auth-link"><a class="link" ui-sref="signin">Войти</a></div>
			</div>
			<div class="signup__conditions">
			Нажимая «Зарегистрироваться», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия «Соглашения об оказании услуг по содействию в трудоустройстве (оферта)»
			</div>
		</div>
	</div>
</div>


<div class="spinner__backdrop" ng-show="vm.isLoading">
	<div class="spinner"></div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<span ng-bind="vm.message"></span>
	<span class="message__close" ng-click="vm.message = null">&times;</span>
</div>
