<div class="signin">
	<div class="signin__content">
		<div class="signin__title">Вход в личный кабинет</div>
		<form class="signin__form" ng-submit="vm.signIn()">
			<input class="input" type="email" ng-model="vm.email" placeholder="Email">
			<input class="input" type="password" ng-model="vm.password" placeholder="Пароль">
			<button class="btn btn_signup-form" type="submit">Войти в личный кабинет</button>
		</form>
	</div>
</div>

<span ng-class="vm.status" class="message" ng-if="vm.message != null">
	<span ng-bind="vm.message"></span>
	<span class="message-close" ng-click="vm.message = null">&times;</span>
</span>
