<div class="signup-employer">
	<div class="signup-employer_opacity"></div>
	<img class="signin__logo" src="../images/headhunter-hh-kz.svg" ui-sref="home"></img>
	<form class="signup-employer__form" ng-submit="vm.signUpEmployer()">
		<div class="signup-employer__form-title">Регистрация Работодателя</div>
		<input class="input" type="text" ng-model="vm.name" name="name" placeholder="Название компании" required>
		<input class="input" type="text" ng-model="vm.site" name="site" placeholder="Сайт" required>
		<input class="input" type="text" ng-model="vm.employeesQuantity" name="employeesQuantity" placeholder="Количество сотрудников" required>
		<input class="input" type="text" ng-model="vm.city" name="city" placeholder="Город" required>
		<div>Контактное лицо</div>
		<span>(конфиденциально)</span>
		<input class="input" type="text" ng-model="vm.firstname" name="firstname" placeholder="Имя" required>
		<input class="input" type="text" ng-model="vm.lastname" name="lastname" placeholder="Фамилия" required>
		<input class="input" type="email" ng-model="vm.email" name="email" placeholder="Email" required>
		<input class="input" type="tel" pattern="[0-9]{10}" name="phone" ng-model="vm.phone" placeholder="Телефон" required>
		<input class="input" type="password" ng-model="vm.password" placeholder="Пароль" required>
		<button class="btn" type="submit">Зарегистрировать компанию</button>
	</form>
</div>

<div class="spinner__backdrop" ng-show="vm.isLoading">
	<div class="spinner"></div>
</div>

<div ng-class="vm.status" class="message" ng-if="vm.message != null">
	<span ng-bind="vm.message"></span>
	<span class="message__close" ng-click="vm.message = null">&times;</span>
</div>
