<div class="signup-employee">
	<div class="wrapper">
		<div class="signup-title">Регистрация соискателя</div>
		<form class="signup-form">
			<div class="signup-form-group">
				<div class="signup-leftblock">Имя</div>
				<input type="text" ng-model="vm.firtsname">
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Фамилия</div>
				<input type="text" ng-model="vm.lastname">
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Email</div>
				<input type="text" ng-model="vm.email">
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Пароль</div>
				<input type="text" ng-model="vm.passwordCandidate">
			</div>
			<div class="signup-form-group">
				<div class="signup-leftblock">Повторите пароль</div>
				<input type="text" ng-model="vm.password">
			</div>
			<div class="signup-form-group">
				<button class="signup-form-btn">Зарегистрироваться</button>
			</div>
		</form>
		<div class="signup-content">
			<div class="signup-leftblock">
				<span class="signup-content-text">Уже зарегистрированы?</span>
				<a class="signup-content-link" ui-sref="signin-employee">Войти</a>
			</div>				
			<div class="signup-content-social">
				<span class="signup-content-text">
				Нажимая «Зарегистрироваться», вы подтверждаете, что ознакомлены, полностью согласны и принимаете условия «Соглашения об оказании услуг по содействию в трудоустройстве (оферта)»
				</span>
			</div>
		</div>
	</div>
</div>