.account {
	width: 100%;
	padding: 2% 5%;
	font-family: Roboto;
}	

	.account > a {
		text-decoration: none;
		display: inline-flex;
		align-items: center;
		font-size: 14px;
		margin-bottom: 15px;
	}

	.account > a:hover {
		color: cornflowerblue;
		transition: .3s ease;
	}

	.account > a > img {
		width: 15px;
		margin-right: 5px;
	}

	.account__content {
		display: flex;
		justify-content: space-between;
	}

	.account__info {
		padding: 0 15px;
	}

	.account__info div {
		display: block;
		font-size: 16px;
		margin: 10px 0;
	}

	.account__info div:first-child {
		font-size: 20px;
		font-weight: 600;
	}

	.account__info input {
		width: 100%;
		padding: 10px;
	}

	.account__info img {
		width: 15px;
		margin: 0 5px;
		cursor: pointer;
	}

	.account__info span {
		font-size: 16px;
	}

	.account__actions {
		padding: 0 15px;
		display: flex;
		align-items: flex-start;
	}

	.account__actions > img {
		width: 18px;
		margin: 0 10px;
		cursor: pointer;
	}