.employee-dash {
	display: flex;
	flex-wrap: wrap;
	background-color: rgb(249, 249, 249);
	width: 100%;
	padding: 20px 5%;
	font-family: Roboto;
}

	.employee-dash__title {
		font-size: 20px;
		font-weight: 600;
		margin-bottom: 10px;
	}

	.employee-dash__events {
		padding-right: 50px;
		margin-bottom: 50px;
		border-right: 1px solid lightgrey;
	}

	.employee-dash__events-item {
		list-style: none;
		margin: 10px 0;
		font-size: 14px;
		color: rgba(0, 0, 0, 0.8);
	}

	.employee-dash__events-item span {
		font-size: 14px;
	}

	.employee-dash__cvs {
		padding-left: 50px;
		padding-right: 100px;
		margin-bottom: 50px;
		border-right: 1px solid lightgrey;
	}

	.employee-dash__cv {
		margin: 10px 0;
	}

	.employee-dash__cv-head {
		display: flex;
		align-items: center;
	}

	.employee-dash__cv-head > a {
		font-size: 18px;
		margin: 5px 0;
		margin-right: 5px;
	}

	.employee-dash__cv-head > img {
		margin: 5px; 
		width: 14px;
		cursor: pointer;
	}

	.employee-dash__cv-footer {
		display: block;
		font-size: 12px;
		color: grey;
	}

	.employee-dash__offers {
		padding: 0 50px;
	}

	.employee-dash__offer {
		margin: 10px 0;
	}

	.employee-dash__offer-head {
		margin: 5px 0;
	}

	.employee-dash__offer-head > a {
		font-size: 18px;
	}

	.employee-dash__offer-body {
		font-size: 14px;
		margin: 5px 0;
		color: grey;
	}

	.employee-dash__offer-footer {
		font-size: 14px;
		color: grey;
		margin: 5px 0;
	}




