.newcv {
	padding: 30px 5%;
	font-family: Roboto;
}

	.newcv__back-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
		color: grey;
		margin-bottom: 25px;
		font-size: 14px;
	}

	.newcv__back-link:hover {
		color: cornflowerblue;
		transition: .3s ease;
	}

	.newcv__back-link > img {
		margin-right: 2px;
		height: 16px;
	}

	.newcv__title {
		font-size: 24px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.newcv__form {
		margin: 15px 0;
	}

	.newcv__form-field {
		display: flex;
		align-items: center;
		margin: 10px 0;
		height: 40px;
	}

	.newcv__data {
		display: flex;
		align-items: center;
		padding: 0 10px;
		height: calc(100% - 2px);
		width: 40%;
		border: 1px solid crimson;
		margin-left: 10px;
	}

	.newcv__data > span {
		font-size: 14px;
		margin-right: 5px;
	}

	.newcv__data.filled {
		border-color: lightgreen;
	}

	.newcv__form-input-radio {	
		display: flex;
		align-items: center;
		margin: 10px 0;
		width: 40%;
	}

	.newcv__form-input-radio > label {
		margin-right: 5px;
		font-size: 14px;
		color: grey;
	}
	.newcv__form-input-radio > input[type='radio'] {
		outline: none;
        margin: 0 10px;
	}

	.newcv__form-skills {
		display: flex;
		align-items: center;
		width: 40%;
		height: 40px;
		margin: 10px 0;
	}

	.newcv__form-skills > input {
		width: 95%;
		padding: 10px;
	}
	
	.newcv__form-skills > input::placeholder {
		color: lightgrey;
	}

	.newcv__form-file {
		position: relative;
		width: 40%;
		border: 1px solid lightgrey;
		margin-left: 10px;
		padding: 10px;
		display: flex;
		align-items: center;
	}

	.newcv__form-file > label {
		position: absolute;
		right: 10px;
		color: lightgrey;
		font-size: 14px;
	}

	.newcv__view-skills {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}