.newcv {
	padding: 30px 5%;
	font-family: Roboto;
}

	.newcv__back-link {
		display: inline-flex;
		align-items: center;
		text-decoration: none;
		cursor: pointer;
		color: grey;
		margin-bottom: 25px;
		font-size: 14px;
	}

	.newcv__back-link:hover {
		color: cornflowerblue;
		transition: .3s ease;
	}

	.newcv__back-link > img {
		margin-right: 2px;
		height: 16px;
	}

	.newcv__title {
		font-size: 24px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.newcv__form {
		margin: 15px 0;
	}

	.newcv__form-head {
		display: flex;
	}

	.newcv__form-body {
		display: block;
		margin-left: 180px;
	}

	.newcv__form-personal {
		display: block;
		margin: 0 5px;
		padding: 0 5px;
	}

	.newcv__form-field {
		display: flex;
		align-items: center;
		margin-top: 5px;
		margin-bottom: 10px;
		height: 40px;
	}

	.newcv__form-field > input {
		min-width: 500px;
	}

	.newcv__data {
		display: flex;
		align-items: center;
		padding: 0 10px;
		height: calc(100% - 2px);
		width: 40%;
		border: 1px solid crimson;
		margin-left: 10px;
	}

	.newcv__data > span {
		font-size: 14px;
		margin-right: 5px;
	}

	.newcv__form-input-radio {	
		display: flex;
		align-items: center;
		margin: 10px 0;
		width: 40%;
	}

	.newcv__form-input-radio > label {
		margin-right: 5px;
		font-size: 14px;
		color: grey;
	}
	.newcv__form-input-radio > input[type='radio'] {
		outline: none;
        margin: 0 10px;
	}

	.newcv__form-skills {
		display: flex;
		align-items: center;
		min-width: 500px;
		height: 40px;
		margin: 10px 0;
	}

	.newcv__form-skills > input {
		width: 95%;
		padding: 10px;
		position: relative;
	}
	
	.newcv__form-skills-offers {
		position: absolute;
		background-color: white;
		border: 1px solid lightgrey;
		width: 500px;
		top: calc(100% - 10px);
	}

	.newcv__form-skills-offer {
		font-size: 14px;
		padding: 10px 5px;
		cursor: pointer;
		border-bottom: 1px solid #e7e7e7;
	}

	.newcv__form-skills-offer:hover {
		background-color: #e7e7e7;
		transition: .3s ease;
	}

	.newcv__form-file {
		position: relative;
		background-image: url('../../images/user-bg.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: bottom;
		opacity: .6;
		width: 170px;
		height: 200px;
		border-radius: 5px;
		border: 1px solid #e7e7e7;
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.newcv__form-file > input[type="file"] {
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		-o-appearance: none;
		visibility: hidden;
	}

	.newcv__form-file > label {
		display: block;
		text-align: center;
		position: absolute;
		top: 50%;
		font-size: 14px;
		cursor: pointer;
	}

	.newcv__view-skills {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}




