.responses {
	display: block;
	width: 100%;
	padding: 20px 5%;
	min-height: calc(100vh - 120px);
	font-family: Roboto;
}	

	.responses__title {
		margin: 15px 0;
		font-size: 22px;
		font-weight: 600;
	}

	.responses__subtitle {
		font-size: 16px;
		font-weight: 600;
		line-height: 20px;
	}

	.responses__head {
		display: block;
		height: 50px;
		padding-bottom: 10px;
		border-bottom: 1px solid lightgrey;
	}

	.responses__item-wrapper {
		padding: 10px 0;
		border-bottom: 1px solid #e7e7e7;
	}

	.responses__item {
		display: flex;
		align-items: center;
		margin-bottom: 2px;
	}

	.responses__item-invitation {
		color: #82b74b;
	}

	.responses__item > span {
		font-size: 14px;
		line-height: 18px;
		margin: 2px 0;
		margin-right: 2px; 
	}

	.responses__item > img {
		margin-left: 5px;
		width: 12px;
		height: 12px;
		cursor: pointer;
	}

	.responses__item-info {
		display: inline-flex;
		font-size: 16px;
		color: cornflowerblue;
		margin-bottom: 2px;
	}

	.responses__item-info:hover {
		color: crimson;
		cursor: pointer;
		transition: .2s ease;
	}

	

