.search {
	padding: 20px 5%;
	height: calc(100vh - 295px);
	display: flex;
	justify-content: space-between;
	font-family: Roboto;
}

	.search__tools {
		background-color: rgb(247, 247, 247);
		width: 300px;
	}

	.search__tools-title {
		display: flex;
		font-size: 20px;
		font-weight: 600;
		padding: 15px; 
		color: grey;
	}

	.search__tool {
		margin: 5px 0;
		padding: 5px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}	

		.search__tool > button {
			width: 100%;
			margin-top: 15px;
		}

		.search__tool-title {
			display: block;
			font-size: 16px;
			padding: 10px; 
		}

		.search__tool-option {
			display: block;
			width: 100%;
			font-size: 16px;
			padding: 10px; 
			cursor: pointer;
			border: 1px solid transparent;
		}

		.search__tool-option:hover {
			border-color: blue;
			transition: .2s ease-in;
		}

		.search__tool-option.active {
			background-color: cornflowerblue;
			border-color: blue;
			color: white;
		}

		.search__tool-select {
			display: inline-flex;
			align-items: center;
			padding: 5px 10px;
			border: 1px solid lightgrey;
			border-radius: 3px;
			margin: 0 10px; 
		}

		.search__tool-select:hover {
			border-color: blue;
			transition: .2s ease-in;
		}

		.search__tool-select.selected {
			background-color: cornflowerblue;
		}

		.search__tool-select.selected > select {
			color: white;
			font-weight: 600;
		}

		.search__tool-select > select {
			background-color: transparent;
			-webkit-appearance: none;
			-moz-appearance: none;
			-o-appearance: none;
			appearance: none;
			border: none;
			outline: none;
			font-size: 14px;
			cursor: pointer;
		}

		.search__tool-select > img {
			width: 16px;
			margin-left: 2px;
		}

		

	.search__results {
		width: calc(100% - 310px);
		padding: 0 15px;
	}

	.search__results-title {
		display: flex;
		font-size: 22px;
		font-weight: 600;
		padding: 15px; 
		color: grey;
	}

	.search__results-label {
		font-size: 14px;
	}

	.search__result {
		margin: 5px 0;
		padding: 5px 10px;
	}

	.search__result > span {
		margin: 5px 0;
		display: block;
		font-size: 16px;
		color: grey;
	}

	.search__result > a {
		text-decoration: none;
		font-weight: 600;
		cursor: pointer;
		color: cornflowerblue;
	}

	.search__result > a:hover {
		color: blue;
		transition: .3s ease;
	}

	.search__results-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
		border-bottom: 1px solid lightgrey;
	}

	.search__results-filters {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}

	.search__results-filter {
		cursor: pointer;
		margin: 0 10px;
		font-size: 14px;
		display: flex;
		align-content: center;
	}

	.search__results-filter:hover {
		color: crimson;
	}

	.search__results-filter-icon {
		width: 15px;
		height: 15px;
		margin-left: 2px;
	}









