.search {
	padding: 20px 5%;
	min-height: calc(100vh - 120px);
	display: flex;
	justify-content: space-between;
	font-family: Roboto;
}	

	.search__placeholder {
		width: 300px;
		display: block;
		margin: 50px auto;
		opacity: .05;
	}

	.search__tools {
		display: block;
		background-color: rgb(247, 247, 247);
		width: 300px;
		height: 100%;
	}

	.search__tools-title {
		display: flex;
		font-size: 20px;
		font-weight: 600;
		padding: 15px; 
		color: grey;
	}

	.search__tool {
		margin: 5px 0;
		padding: 5px 0;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	.search__tool-title > img {
		width: 14px;
		height: 14px;
		cursor: pointer;
		margin-left: 10px;
	}	

	.search__tool-title {
		display: inline-flex;
		align-items: center;
		font-size: 16px;
		font-weight: 600;
		padding: 10px; 
	}

	.search__tool-option {
		display: block;
		width: 100%;
		font-size: 16px;
		padding: 10px; 
		cursor: pointer;
		border: 1px solid transparent;
	}

	.search__tool-option:hover {
		border-color: blue;
		transition: .2s ease-in;
	}

	.search__tool-option.active {
		background-color: cornflowerblue;
		border-color: blue;
		color: white;
	}

	.search__tool-items {
		padding: 0 20px;
	}

	.search__tool-items > div {
		padding: 5px 0;
	}

	.search__tool-items > div > label {
		font-size: 14px;
	}

	.search__tool-items > div > input {
		margin-left: 5px;
	}

	.search__results-filters {
		display: inline-flex;
		align-items: center;
		padding: 10px;
		border: 1px solid lightgrey;
		margin: 0 10px;
		background-color: #f7f7f7; 
	}

	.search__results-filters > select {
		font-size: 14px;
		min-width: 200px;
	}

	.search__results-filters > img {
		width: 16px;
		margin-left: 2px;
	}

	.search__results {
		width: calc(100% - 310px);
		padding: 0 15px;
	}

	.search__results-head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px 0;
		margin-bottom: 10px;
		border-bottom: 1px solid lightgrey;
	}

	.search__results-title {
		display: flex;
		font-size: 22px;
		font-weight: 600;
		padding: 15px; 
		color: grey;
	}

	.search__result {
		padding-left: 10px;
		margin-bottom: 10px;
	}

	.search__result > span {
		margin: 5px 0;
		display: block;
		font-size: 14px;
		color: grey;
	}

	.search__result > a {
		font-size: 14px;
		text-decoration: none;
		font-weight: 600;
		cursor: pointer;
		color: cornflowerblue;
	}

	.search__result > a:hover {
		color: crimson;
		transition: .3s ease;
	}

	.search__controls {
		display: flex;
		align-items: center;
		justify-content: space-around;
		padding: 20px 0;
	}













