.signup-employer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../../images/building.jpg');
	background-size: cover;
	background-position: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5% 0;
	font-family: Roboto;
}	

	.signup-employer_opacity {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, .2);
	}

	.signup-employer-question-downer,
	.signup-employer-question-down,
	.signup-employer-question {
		display: inline-flex;
		font-size: 16px;
		color: white;
		position: absolute;
		top: 150px;
		left: 70px;
		z-index: 3;
	}

	.signup-employer-question-down {
		top: 175px;
	}

	.signup-employer-question-downer {
		top: 200px;
	}

	.signup-employer-question > a {
		text-decoration: none;
		color: white;
		margin-left: 5px;
	}

	.signup-employer-question-downer > a,
	.signup-employer-question-down > a {
		text-decoration: none;
		color: white;
	}

	.signup-employer-question-downer > a:hover,
	.signup-employer-question-down > a:hover,
	.signup-employer-question > a:hover {
		color: crimson;
		transition: .3s ease;
		cursor: pointer;
	}

	.signup-employer__form {
		width: 400px;
		padding: 15px;
		background-color: rgb(247, 247, 247);
		text-align: center;
		z-index: 3;
	}

	.signup-employer__form > div {
		font-size: 20px;
		margin-top: 10px;
	}

	.signup-employer__form > span {
		font-size: 14px;
		color: grey;
		margin-top: 5px;
		margin-bottom: 10px;
		display: block;
	}

	.signup-employer__form > input {
		margin-bottom: 5px;
		padding: 10px;
		width: 100%;
	}

	.signup-employer__form > input::placeholder {
		color: lightgrey;
	}

	.signup-employer__form > button {
		display: block;
		width: 100%;
		background-color: cornflowerblue;
		color: white;
		margin: 15px 0;
		padding: 10px 15px;
		font-size: 16px;
	}

	.signup-employer__form > button:hover {
		background-color: blue;
		transition: .2s ease;
	}

	.signup-employer__form-title {
		font-size: 20px;
		margin: 15px 0;
	}