.topnav {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	background-color: #262626;
	border-bottom: 1px solid black;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 5%;
	font-family: OpenSansCondensed;
	transition: .5s ease;
}	

	.topnav_scroll {
		position: fixed;
		top: 0;
		left: 0;
		height: 40px;
		width: 100%;
		box-sizing: border-box;
		background-color: #262626;
		border-bottom: 1px solid black;
		color: white;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 5%;
		font-family: OpenSansCondensed;
		transition: .5s ease;
		z-index: 6;
	}

	.topnav_scroll .topnav__search {
		display: flex;
	}

	.topnav_scroll .logo-mini,
	.topnav_scroll .topnav__search-advanced,
	.topnav_scroll .topnav__auth-in {
		display: block;
	}

	.topnav__wrapper {
		height: 40px;
		display: flex;
		align-items: center;
	}

	.topnav__main {
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: .5s ease;
	}

	.topnav__search {
		display: none;
		align-items: center;
		background-color: white;
		margin: 0 10px;
		padding: 0 5px;
	}

	.topnav__search > input {
		outline: none;
		font-family: OpenSansCondensed;
		font-size: 14px;
		padding: 5px;
		background-color: transparent;
	}

	.topnav__search > img {
		height: 15px;
		width: 15px;
	}

	.topnav__search-advanced {
		display: none;
		font-family: OpenSansCondensed;
		font-size: 14px;
		padding: 5px;
		margin: 0 5px;
		color: white;
		text-align: center;
		cursor: pointer;
	}

	.topnav__search-advanced:hover {
		color: lightgrey;
		transition: .4s ease;
	}

	.topnav__items {
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 40px;
	}

	.topnav__item {
		font-size: 16px;
		padding: 12px 15px;
		position: relative;
		cursor: pointer;
		height: 100%;
	}

	.topnav__item:hover {
		background-color: crimson;
		transition: .1s ease;
	}

	.topnav__item > span {
		font-size: 16px;
	}

	.topnav__item-droplist {
		background-color: rgb(253, 253, 253);
		position: absolute;
		left: 0;
		top: 100%;
		min-width: 160%;
		z-index: 6;
		box-shadow: 1px 2px 1px grey;
	}

	.topnav__item-droplist-item {
		font-size: 16px;
		color: black;
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid #e8e8e8;
	}

	.topnav__item-droplist-special {
		font-size: 16px;
		color: cornflowerblue;
		cursor: pointer;
		padding: 10px;
		border-bottom: 1px solid #e8e8e8;
	}

	.topnav__item-droplist-item:hover,
	.topnav__item-droplist-special:hover {
		background-color: rgb(245, 245, 245);
		color: black;
	}

	.topnav__auth {
		font-size: 16px;
		padding: 10px;
		position: relative;
		height: 100%;
		cursor: default;
	}

	.topnav__auth-in {
		cursor: pointer;
		display: none;
		font-size: 16px;
		padding: 10px;
		height: 100%;
	}

	.topnav__auth-in:hover {
		background-color: crimson;
		transition: .1s ease;
	}

	.topnav__auth:hover {
		background-color: crimson;
		transition: .1s ease;
	}

	.topnav__auth-title {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.topnav__auth-title > span {
		font-size: 16px;
	}
	.topnav__auth-title > img {
		height: 30px;
		margin-right: 10px;
	}

	.topnav__auth-droplist {
		position: absolute;
		top: 100%;
		right: 0;
		width: 100%;
		background-color: rgb(250, 250, 250);
		box-shadow: 1px 2px 1px grey;
		z-index: 6;
	}

	.topnav__auth-droplist > span {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #e8e8e8;
		cursor: pointer;
		font-size: 16px;
		color: black;
	}

	.topnav__auth-droplist > span:hover {
		background-color: rgb(240, 240, 240);
	}



