.input {
	font-size: 14px;
	font-family: Roboto;
	outline: none;
	border: 1px solid lightgrey;
}
	
	.input:focus {
		border-color: cornflowerblue;
	}

	.input_newcv {
		width: 40%;
		padding: 10px;
	}

	.input::placeholder {
		color: silver;
	}

	.input:focus::placeholder {
		opacity: 0;
		transition: .3s ease;
	}

	.input.filled {
		border-color: #82b74b;
	}

	.input-radio[type="radio"] {
		outline: none;
		cursor: pointer;
	}