.input {
	font-size: 14px;
	font-family: Roboto;
	outline: none;
	border: 1px solid lightgrey;
}
	
	.input:focus {
		border-color: cornflowerblue;
	}

	.input_newcv {
		width: 40%;
		padding: 10px;
	}

	.input_newcv::placeholder {
		color: lightgrey;
	}