.textarea {
	font-size: 14px;
	font-family: Roboto;
	outline: none;
	border: 1px solid lightgrey;
}
	
	.textarea:focus {
		border-color: cornflowerblue;
	}

	.textarea::placeholder {
		color: silver;
	}

	.textarea:focus::placeholder {
		opacity: 0;
		transition: .3s ease;
	}
