/* Including 3rd part libs */
@import url("../vendor/reset.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
/** {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
}*/
/* Including components */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.top-nav {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  align-items: center;
}

.top-nav-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.top-nav-item {
  font-size: 13px;
  padding: 15px;
  position: relative;
  cursor: pointer;
  height: 100%;
}
.top-nav-item:hover {
  background-color: #e60000;
}
.top-nav-item span {
  font-size: 13px;
}

.top-nav-item__droplist {
  background-color: #fdfdfd;
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  width: 160%;
  z-index: 3;
  box-shadow: 1px 2px grey;
}

.top-nav-item__droplist-item {
  font-size: 13px;
  color: black;
  cursor: pointer;
  padding: 10px;
}
.top-nav-item__droplist-item:hover {
  background-color: #f7f7f7;
}

.top-nav-search {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 15px;
  background-color: white;
}
.top-nav-search input {
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.top-nav-search input::placeholder {
  color: lightgrey;
}
.top-nav-search img {
  width: 17px;
}

.top-nav-auth {
  font-size: 13px;
  padding: 15px;
  position: relative;
  margin-top: -2px;
  height: 100%;
}
.top-nav-auth:hover {
  background-color: #e60000;
}
.top-nav-auth span {
  font-size: 14px;
  cursor: pointer;
}

.top-nav-auth-drop {
  position: absolute;
  right: 0;
  top: 100%;
  width: 350%;
  padding: 15px;
  background-color: #fdfdfd;
  box-shadow: 1px 2px lightgrey;
  z-index: 3;
  text-align: center;
}
.top-nav-auth-drop span {
  cursor: default;
  font-size: 12px;
  color: lightgrey;
  margin-bottom: 10px;
}

.top-nav-auth-drop-form input {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid lightgrey;
}
.top-nav-auth-drop-form input:focus {
  border-color: blue;
}
.top-nav-auth-drop-form input::placeholder {
  color: lightgrey;
}
.top-nav-auth-drop-form button {
  display: block;
  width: 100%;
  background-color: blue;
  color: white;
  padding: 10px;
  margin: 15px 0;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}

.top-nav-auth-signup {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-nav-auth-signup button {
  padding: 10px;
  margin: 10px 5px;
  font-size: 12px;
  border: 1px solid lightgrey;
  background-color: #f7f7f7;
  outline: none;
  cursor: pointer;
}
.top-nav-auth-signup button:hover {
  color: red;
  border-color: silver;
  transition: 0.4s ease;
}

.home {
  width: 100%;
}

/* Home top styles */
.home-top {
  height: 350px;
  background-image: url(../../images/hh-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 80%;
  padding: 0 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.home-left {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 0 15px;
  position: relative;
}
.home-left h1 {
  font-size: 55px;
  font-weight: 600;
  color: white;
  margin: 5% 0;
}

.home-left-btns {
  position: absolute;
  bottom: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-left-btns button {
  margin: 0 15px;
  padding: 10px 15px;
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #fefefe;
  cursor: pointer;
  font-size: 16px;
}
.home-left-btns button:hover {
  background-color: #fefefe;
  color: black;
  transition: 0.5 ease;
}

.home-right {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;
}

.home-auth {
  display: block;
  height: 310px;
  width: 290px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.home-sign-in-btn {
  margin: 5px 0;
  font-size: 16px;
  color: blue;
  padding: 10px;
  background-color: transparent;
  border: 1px solid blue;
  cursor: pointer;
}
.home-sign-in-btn:hover {
  background-color: blue;
  color: white;
  transition: 0.5 ease;
}

.home-sign-up-btn {
  margin: 20px 0;
  display: block;
  width: 100%;
  font-size: 16px;
  color: blue;
  padding: 10px;
  background-color: transparent;
  border: 1px solid blue;
  cursor: pointer;
}
.home-sign-up-btn:hover {
  background-color: blue;
  color: white;
  transition: 0.5 ease;
}

.home-auth-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: silver;
}
.home-auth-nav span {
  font-size: 14px;
}
.home-auth-nav span:first-child {
  padding-right: 15px;
}
.home-auth-nav span:hover {
  color: white;
  transition: 0.3 ease;
}
.home-auth-nav span.active {
  color: white;
}

.home-sign-in-content {
  text-align: center;
  margin-top: 50px;
}
.home-sign-in-content input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  outline: none;
  border: 1px solid lightgrey;
  font-size: 14px;
}
.home-sign-in-content input:focus {
  border: 1px solid blue;
}
.home-sign-in-content input::placeholder {
  color: lightgrey;
}

.home-sign-up-content {
  margin-top: 60px;
}

.home-auth-social {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.home-auth-social span {
  display: block;
  background-color: blue;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.home-statistics {
  color: white;
  border-left: 1px solid lightgrey;
  padding: 0 25px;
}
.home-statistics div:first-child {
  margin-bottom: 15px;
}
.home-statistics div:last-child {
  margin-top: 15px;
}
.home-statistics span {
  font-size: 45px;
}
.home-statistics small {
  display: block;
  font-size: 14px;
}

/* Home Options (middle) */
.home-options {
  width: 100%;
  padding: 20px 5%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-options-item {
  display: flex;
  padding-right: 15px;
  width: 25%;
}
.home-options-item img {
  width: 70px;
  /*height: 60px;*/
  margin-right: 10px;
}
.home-options-item span {
  font-size: 14px;
}

/* Home Main */
.home-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, minmax(50px, auto));
  width: 100%;
  padding: 2% 5%;
}

.home-main-companies {
  grid-column: 1/2;
  grid-row: 1/2;
  border-right: 1px solid grey;
  /*padding-right: 15px;*/
}

.home-main-vacancies-today {
  grid-column: 2/4;
  grid-row: 1/2;
  padding: 0 25px;
}

.home-main-ads {
  grid-column: 4/5;
  grid-row: 1/2;
}

.home-main-vacancies-spec {
  grid-column: 1/5;
  grid-row: 2/3;
}

.home-main-secondary {
  grid-column: 1/5;
  grid-row: 3/4;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}

.home-main-secondary-news {
  grid-column: 1/2;
}

.home-main-secondary-articles {
  grid-column: 2/3;
}

.home-main-vacancies-spec {
  grid-column: 3/4;
}

.home-main-vacancies-city {
  grid-column: 4/5;
}

.home-main-seo {
  grid-column: 1/5;
  grid-row: 4/5;
}
.home-main-seo span {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 600;
}

.signup-employee {
  padding: 3% 15px;
}

.signup-title {
  font-size: 34px;
  margin-bottom: 20px;
}

.signup-form {
  width: 60%;
}

.signup-form-group {
  display: flex;
  align-items: center;
  margin: 25px 0;
}
.signup-form-group input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid lightgrey;
}
.signup-form-group input:focus {
  border-color: blue;
}

.signup-leftblock {
  display: block;
  width: 300px;
  font-size: 14px;
  margin-right: 100px;
}

.signup-form-btn {
  font-size: 16px;
  background-color: blue;
  color: white;
  padding: 15px;
  margin: 15px 0;
  margin-left: 50%;
  cursor: pointer;
  outline: none;
}
.signup-form-btn:hover {
  opacity: 0.8;
}

.signup-content {
  display: flex;
  margin: 25px 0;
  width: 60%;
}

.signup-content-text {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

.signup-content-link {
  color: blue;
  cursor: pointer;
  font-size: 14px;
  text-decoration: none;
}
.signup-content-link:hover {
  color: red;
}

.signup-content-social {
  display: block;
  width: 100%;
}
.signup-content-social span {
  font-size: 14px;
}

.signup-content-social-items {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.signup-content-social-items span {
  display: block;
  background-color: blue;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.signin-employee {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/building.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 0;
}

.signin-employee-form {
  width: 300px;
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center;
}
.signin-employee-form input {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
}
.signin-employee-form input:focus {
  border-color: blue;
}
.signin-employee-form button {
  outline: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: blue;
  color: white;
  margin: 15px 0;
  font-size: 16px;
}
.signin-employee-form button:hover {
  opacity: 0.8;
}

.signin-employee-form-title {
  font-size: 20px;
  margin: 15px 0;
}

.signup-employer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/building.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
}

.signup-employer-form {
  width: 400px;
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center;
}
.signup-employer-form div {
  font-size: 20px;
  margin-top: 10px;
}
.signup-employer-form span {
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
  display: block;
}
.signup-employer-form input {
  padding: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 10px;
  outline: none;
  width: 100%;
}
.signup-employer-form input:focus {
  border-color: blue;
}
.signup-employer-form button {
  outline: none;
  cursor: pointer;
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: blue;
  color: white;
  margin: 15px 0;
  font-size: 16px;
}
.signup-employer-form button:hover {
  opacity: 0.8;
}

.signup-employer-form-title {
  font-size: 20px;
  margin: 15px 0;
}

.footer {
  width: 100%;
  padding: 0 5%;
}

.footer-content {
  padding: 3% 0;
  border-top: 1px solid lightgrey;
}
.footer-content div {
  margin: 10px 0;
}
.footer-content div:last-child {
  margin-top: 20px;
  color: silver;
}
.footer-content span {
  color: silver;
  cursor: pointer;
}
.footer-content div, .footer-content span {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 5%;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
