@charset "UTF-8";
/* Including 3rd part libs */
@import url("../vendor/reset.css");
@font-face {
  font-family: OpenSansCondensed;
  src: url("../../fonts/OpenSansCondensed-Light.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
@font-face {
  font-family: Roboto;
  src: url("../../fonts/Roboto-Regular.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: fallback;
}
/* atoms */
.input {
  font-size: 14px;
  font-family: Roboto;
  outline: none;
  padding: 10px;
  border: 1px solid lightgrey;
}
.input:focus {
  border-color: cornflowerblue;
}

.input_newcv {
  width: 40%;
}
.input_newcv::placeholder {
  color: lightgrey;
}

.btn {
  outline: none;
  border-spacing: 0;
  border: medium none;
  cursor: pointer;
  padding: 10px 15px;
  font-family: Roboto;
}

.btn_signup-form {
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
  margin: 15px 0;
}
.btn_signup-form:hover {
  background-color: blue;
  transition: 0.2s ease;
}

.btn_dashboard {
  background-color: #82b74b;
  color: white;
  font-size: 16px;
}
.btn_dashboard:hover {
  background-color: #86af49;
  transition: 0.2s ease;
}

.btn_manager {
  background-color: cornflowerblue;
  color: white;
  font-size: 16px;
}
.btn_manager:hover {
  background-color: blue;
  transition: 0.2s ease;
}

.btn_disable {
  font-size: 16px;
  background-color: lightgrey;
  color: white;
}
.btn_disable:hover {
  background-color: grey;
  transition: 0.2s ease;
}

.btn.active-transparent {
  border-color: blue;
  color: blue;
}

.btn.disable-transparent {
  border-color: grey;
  color: grey;
}

/* Including components */
.header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f7f7f7;
  padding: 0 5%;
  font-family: Roboto;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  width: 10%;
}
.header-logo > img {
  width: 90px;
  cursor: pointer;
}

.header-search-group {
  display: flex;
  width: 85%;
}

.header-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 80%;
}
.header-search > input {
  border: 1px solid lightgrey;
  outline: none;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  font-size: 14px;
}
.header-search > input:focus {
  border-color: cornflowerblue;
}
.header-search > input::placeholder {
  color: silver;
}

.header-search-results {
  position: absolute;
  top: 100%;
  width: calc(100% - 302px);
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px lightgrey;
  z-index: 3;
}
.header-search-results > li {
  list-style: none;
  padding: 10px 5px;
  border-bottom: 1px solid #e8e8e8;
}
.header-search-results > li > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
  color: black;
}
.header-search-results > li > a:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}

.header-search-btn {
  font-size: 16px;
  margin-left: 5px;
  background-color: cornflowerblue;
  color: white;
  height: 100%;
  padding: 15px 25px;
  cursor: pointer;
}
.header-search-btn:hover {
  opacity: 0.9;
}

.header-search-select {
  height: 100%;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-search-select > select {
  -webkit-appearance: none;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  height: 100%;
  border: none;
  margin: 0 5px;
}
.header-search-select > img {
  margin: 0 5px;
  width: 14px;
  height: 14px;
}

.header-search-advanced {
  font-family: OpenSansCondensed;
  font-size: 14px;
  color: grey;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
}
.header-search-advanced:hover {
  color: lightgrey;
}

.header-languages {
  height: 12px;
}

.top-nav {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  color: #fafafa;
  display: flex;
  align-items: center;
  font-family: OpenSansCondensed;
}

.top-nav-wrapper {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top-nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.top-nav-item {
  font-size: 16px;
  padding: 12px 15px;
  position: relative;
  cursor: pointer;
  height: 100%;
}
.top-nav-item:hover {
  background-color: crimson;
  transition: 0.1s ease;
}
.top-nav-item span {
  font-size: 16px;
}

.top-nav-item__droplist {
  background-color: #fdfdfd;
  position: absolute;
  left: 0;
  top: 100%;
  width: 160%;
  z-index: 3;
  box-shadow: 1px 2px grey;
}

.top-nav-item__droplist-item {
  font-size: 16px;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
}
.top-nav-item__droplist-item:hover {
  background-color: whitesmoke;
}

.top-nav-search {
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 0 15px;
  background-color: white;
}
.top-nav-search input {
  background-color: transparent;
  outline: none;
  font-size: 12px;
}
.top-nav-search input::placeholder {
  color: lightgrey;
}
.top-nav-search img {
  width: 17px;
}

.top-nav-auth {
  font-size: 16px;
  padding: 10px;
  position: relative;
  height: 100%;
}
.top-nav-auth:hover {
  background-color: crimson;
  transition: 0.1s ease;
}

.top-nav-auth-title {
  display: flex;
  align-items: center;
  height: 100%;
}
.top-nav-auth-title span {
  font-size: 16px;
}
.top-nav-auth-title img {
  height: 30px;
  margin-right: 10px;
}

.top-nav-auth-droplist {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  background-color: #fafafa;
  box-shadow: 1px 2px grey;
  z-index: 3;
}
.top-nav-auth-droplist > span {
  display: block;
  padding: 10px;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  font-size: 16px;
  color: black;
}
.top-nav-auth-droplist > span:hover {
  background-color: #f0f0f0;
}

.home {
  width: 100%;
  font-family: Roboto;
}

/* Home top styles */
.home-top {
  height: 350px;
  background-image: url(../../images/hh-back.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 80%;
  padding: 0 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.home-title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
  padding: 0 15px;
}
.home-title h1 {
  font-size: 55px;
  font-weight: 600;
  color: white;
}

.home-title-btns {
  display: flex;
  align-items: center;
}
.home-title-btns > div {
  margin: 0 15px;
  padding: 15px 25px;
  background-color: transparent;
  color: #fefefe;
  border: 1px solid #fefefe;
  cursor: pointer;
  font-size: 15px;
}
.home-title-btns > div:hover {
  background-color: #fefefe;
  color: black;
  transition: 0.1s ease;
}

.home-statistics {
  flex-grow: 1;
  color: white;
  border-left: 1px solid lightgrey;
  padding: 0 25px;
}
.home-statistics div:first-child {
  margin-bottom: 15px;
}
.home-statistics div:last-child {
  margin-top: 15px;
}
.home-statistics span {
  font-size: 45px;
}
.home-statistics small {
  display: block;
  font-size: 14px;
}

.home-auth-stats-block {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding: 25px;
}

.home-auth {
  flex-grow: 1;
  display: block;
  width: 300px;
  max-width: 300px;
  height: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
}

.home-auth-nav {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: silver;
}
.home-auth-nav span {
  font-size: 14px;
}
.home-auth-nav span:first-child {
  padding-right: 15px;
}
.home-auth-nav span:hover {
  color: white;
  transition: 0.3s ease-in;
}
.home-auth-nav span.active {
  color: white;
}

.home-auth-content {
  margin-top: 40px;
  text-align: center;
  color: white;
}
.home-auth-content > span {
  font-size: 14px;
}

.home-auth-content-title {
  margin-bottom: 15px;
  font-size: 14px;
}

.home-auth-form input {
  width: 100%;
  margin: 5px 0;
}

.home-auth-content-btn {
  margin: 20px 0;
  display: block;
  width: 100%;
  font-size: 16px;
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid cornflowerblue;
  color: cornflowerblue;
}
.home-auth-content-btn:hover {
  background-color: cornflowerblue;
  color: white;
  transition: 0.2s ease-in;
}

.home-auth-social {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.home-auth-social span {
  display: block;
  background-color: blue;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

/* Home Options (middle) */
.home-options {
  width: 100%;
  padding: 20px 5%;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home-options-item {
  display: flex;
  padding-right: 15px;
  width: 22%;
}
.home-options-item img {
  width: 70px;
  margin-right: 10px;
}
.home-options-item span {
  font-size: 14px;
  line-height: 20px;
}

/* Home Main */
.home-main {
  display: grid;
  grid-template-columns: repeat(3, minmax(70px, auto));
  grid-template-rows: 1fr;
  width: 100%;
  padding: 2% 5%;
}

.home-main-employers {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 15px;
}

.home-main-vacancies {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 15px;
}

.home-main-block-title {
  font-size: 22px;
  font-weight: 600;
  margin: 10px 0;
}

.home-main-block-item {
  list-style: none;
  margin: 15px 0;
  cursor: pointer;
}
.home-main-block-item > span {
  display: block;
  margin: 5px 0;
  color: grey;
}

.home-main-cvs {
  grid-column: 3/4;
  grid-row: 1/2;
  padding: 15px;
}

.signup-employee {
  padding: 25px 0;
  font-family: Roboto;
}

.signup-title {
  font-size: 34px;
  margin-bottom: 20px;
}

.signup-form {
  width: 80%;
}

.signup-form-field {
  margin: 10px 0;
}
.signup-form-field > label {
  display: inline-block;
  width: 25%;
  font-size: 14px;
}
.signup-form-field > input {
  width: 50%;
}
.signup-form-field > span {
  margin-left: calc(25% + 4px);
  display: block;
  font-size: 12px;
  color: grey;
}

.signup-conditions-block {
  display: flex;
  width: 80%;
}

.signup-auth-block {
  width: 25%;
}

.signup-auth-question {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}

.signup-auth-link {
  margin: 5px 0;
}
.signup-auth-link > a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 14px;
}
.signup-auth-link > a:hover {
  color: crimson;
  transition: 0.2s ease;
}

.signup-conditions {
  display: inline-block;
  width: 50%;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
}

.signin {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/building.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15% 0;
  font-family: Roboto;
}

.signin-content {
  width: 300px;
  background-color: #f7f7f7;
  box-shadow: 1px 1px 1px lightgrey;
  padding: 25px;
  display: block;
  text-align: center;
}

.signin-title {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
}

.signin-form {
  width: 100%;
}
.signin-form input {
  margin: 10px 0;
  width: 100%;
}

.signup-employer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/building.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 0;
  font-family: Roboto;
}

.signup-employer-form {
  width: 400px;
  padding: 15px;
  background-color: #f7f7f7;
  text-align: center;
}
.signup-employer-form > div {
  font-size: 20px;
  margin-top: 10px;
}
.signup-employer-form > span {
  font-size: 14px;
  color: grey;
  margin-bottom: 10px;
  display: block;
}
.signup-employer-form > input {
  margin-bottom: 5px;
  width: 100%;
}
.signup-employer-form > input::placeholder {
  color: grey;
}
.signup-employer-form > button {
  display: block;
  width: 100%;
  background-color: cornflowerblue;
  color: white;
  margin: 15px 0;
  font-size: 16px;
}
.signup-employer-form > button:hover {
  background-color: blue;
  transition: 0.2s ease;
}

.signup-employer-form-title {
  font-size: 20px;
  margin: 15px 0;
}

.employee-dash {
  display: flex;
  flex-wrap: wrap;
  background-color: #f9f9f9;
  width: 100%;
  height: calc(100vh - 300px);
  padding: 20px 5%;
  font-family: Roboto;
}

.employee-dash-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.employee-dash-events {
  padding-right: 50px;
  margin-bottom: 50px;
  border-right: 1px solid lightgrey;
}

.employee-dash-events-item {
  list-style: none;
  margin: 10px 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.8);
}
.employee-dash-events-item span {
  font-size: 14px;
}

.employee-dash-events-item.link {
  cursor: pointer;
}
.employee-dash-events-item.link:hover {
  color: blue;
}

.employee-dash-cvs {
  padding-left: 50px;
  padding-right: 100px;
  margin-bottom: 50px;
  border-right: 1px solid lightgrey;
}

.employee-dash-cv {
  margin: 10px 0;
}

.employee-dash-cv-head {
  display: flex;
  align-items: center;
}
.employee-dash-cv-head > a {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 18px;
  margin: 5px 0;
  margin-right: 5px;
}
.employee-dash-cv-head > a:hover {
  color: crimson;
  transition: 0.3s ease;
}
.employee-dash-cv-head > img {
  margin: 5px;
  width: 14px;
  cursor: pointer;
}

.employee-dash-cv-footer {
  display: block;
  font-size: 12px;
  color: grey;
}

.employee-dash-offers {
  padding: 0 50px;
}

.employee-dash-offer {
  margin: 10px 0;
}

.employee-dash-offer-head {
  margin: 5px 0;
}
.employee-dash-offer-head > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
}
.employee-dash-offer-head > a:hover {
  color: crimson;
  transition: 0.3s ease;
}

.employee-dash-offer-body {
  font-size: 14px;
  margin: 5px 0;
  color: grey;
}

.employee-dash-offer-footer {
  font-size: 14px;
  color: grey;
  margin: 5px 0;
}

.employer-dash {
  padding: 2% 5%;
  width: 100%;
  font-family: Roboto;
}

.employer-dash-title {
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}

.employer-dash-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.employer-dash-info {
  padding: 15px;
}
.employer-dash-info > span {
  display: flex;
  margin: 10px 0;
}

.employer-dash-btns {
  margin: 15px 0;
}

.employer-dash-vacancies {
  padding: 15px;
}

.employer-dash-managers {
  padding: 15px;
}

.employer-dash-block-title {
  display: block;
  font-size: 20px;
  width: 100%;
  color: grey;
  margin: 10px 0;
}

.employer-dash-block-item {
  display: flex;
  align-items: center;
}
.employer-dash-block-item > span {
  font-size: 16px;
  margin: 5px 0;
  margin-right: 5px;
}
.employer-dash-block-item > img {
  margin: 5px;
  width: 16px;
  cursor: pointer;
}

.employer-dash-content {
  width: 100%;
  display: none;
}

.employer-dash-content-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.employer-dash-content-title > span {
  font-size: 30px;
  cursor: pointer;
}

.employer-dash-form {
  width: 100%;
}
.employer-dash-form button {
  outline: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  color: white;
}
.employer-dash-form button:hover {
  opacity: 0.9;
}
.employer-dash-form button.active {
  background-color: blue;
}
.employer-dash-form button.disable {
  background-color: grey;
}

.employer-dash-form-group {
  display: flex;
  align-items: flex-start;
  margin: 10px 0;
  width: 100%;
}
.employer-dash-form-group > span {
  display: block;
  margin-left: 10px;
  font-size: 14px;
  padding: 10px;
}
.employer-dash-form-group > input {
  display: block;
  width: 50%;
  outline: none;
  border: 1px solid lightgrey;
  padding: 10px;
  font-size: 14px;
}
.employer-dash-form-group > input:focus {
  border-color: blue;
}
.employer-dash-form-group > textarea {
  width: 50%;
  display: block;
  outline: none;
  padding: 10px;
  border: 1px solid lightgrey;
  margin: 10px 0;
  font-size: 14px;
}
.employer-dash-form-group > textarea:focus {
  border-color: blue;
}

.employer-dash-skills-group {
  display: flex;
  align-items: center;
  height: 40px;
}
.employer-dash-skills-group > input {
  height: 100%;
  width: 45%;
}

.employer-dash-skill-add {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 5%;
  padding-bottom: 0 10px;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  background-color: #f7f7f7;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
}

.employer-dash-skills {
  margin: 15px 0;
  display: flex;
  align-items: center;
}

.employer-dash-skills-input {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.employer-dash-skills-input input {
  width: 80%;
  margin: 0;
}
.employer-dash-skills-input div {
  background-color: blue;
  border: 1px solid blue;
  cursor: pointer;
  outline: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  width: 20%;
  text-align: center;
}

.cv {
  padding: 2% 5%;
  display: none;
  font-family: Roboto;
}

.cv-view {
  width: 50%;
  margin: 15px;
}

.cv-view-skills {
  display: flex;
  align-items: center;
}

.cv-view-output {
  width: 100%;
  border: 1px solid white;
  padding: 10px;
  margin: 15px 0;
  font-size: 14px;
}

.complete-cv {
  padding: 2% 5%;
  width: 100%;
  font-family: Roboto;
}
.complete-cv input {
  width: 50%;
}

.complete-cv-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  margin: 5px 0;
  font-size: 14px;
}
.complete-cv-link:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}
.complete-cv-link > img {
  margin-right: 2px;
  height: 16px;
}

.complete-cv-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid lightgrey;
}
.complete-cv-header img {
  width: 150px;
  margin-right: 20px;
}

.complete-cv-info {
  display: flex;
  align-items: flex-start;
}

.complete-cv-info-contacts > span {
  display: block;
  margin: 10px 0;
  font-size: 14px;
}
.complete-cv-info-contacts > span:first-child {
  font-size: 26px;
}

.complete-cv-actions > img {
  width: 20px;
  height: 20px;
  margin: 0 15px;
  cursor: pointer;
}
.complete-cv-actions > img:hover {
  opacity: 0.7;
}

.complete-cv-editor-close {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.complete-cv-position-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  padding: 15px 0;
}
.complete-cv-position-info > span:first-child {
  font-size: 24px;
  color: cornflowerblue;
}
.complete-cv-position-info > span:last-child {
  font-size: 20px;
}

.complete-cv-work-info {
  padding: 5px 0;
  width: 70%;
}
.complete-cv-work-info span {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}
.complete-cv-work-info span:first-child {
  font-size: 20px;
  color: grey;
}

.complete-cv-skills-info {
  padding: 5px 0;
  width: 70%;
}
.complete-cv-skills-info span {
  display: block;
  margin: 10px 0;
  font-size: 20px;
  color: grey;
}

.complete-cv-skills {
  display: flex;
  align-items: center;
}

.complete-cv-education-info {
  padding: 5px 0;
  width: 70%;
}
.complete-cv-education-info span {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}
.complete-cv-education-info span:first-child {
  font-size: 20px;
  color: grey;
}

.complete-cv-title {
  font-size: 22px;
  font-weight: 600;
  margin: 15px;
}

.newcv {
  padding: 30px 5%;
  font-family: Roboto;
}

.newcv-back-link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
  color: grey;
  margin-bottom: 25px;
  font-size: 14px;
}
.newcv-back-link:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}
.newcv-back-link > img {
  margin-right: 2px;
  height: 16px;
}

.newcv-title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newcv-form {
  margin: 15px 0;
}

.newcv-form-field {
  display: flex;
  align-items: center;
  margin: 10px 0;
  height: 40px;
}

.newcv-data {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: calc(100% - 2px);
  width: 40%;
  border: 1px solid crimson;
  margin-left: 10px;
}
.newcv-data > span {
  font-size: 14px;
  margin-right: 5px;
}

.newcv-data.filled {
  border-color: lightgreen;
}

.newcv-form-input-radio {
  display: flex;
  align-items: center;
  outline: none;
  margin: 10px 0;
}
.newcv-form-input-radio label {
  margin-right: 5px;
  font-size: 14px;
  color: grey;
}
.newcv-form-input-radio input {
  margin-right: 15px;
  padding: 10px;
  font-size: 14px;
}
.newcv-form-input-radio input:focus {
  border-color: blue;
}

.newcv-form-skills {
  display: flex;
  align-items: center;
  width: 40%;
  height: 40px;
  margin: 10px 0;
}
.newcv-form-skills > input {
  width: 95%;
}
.newcv-form-skills > input::placeholder {
  color: lightgrey;
}

.newcv-form-file {
  position: relative;
  width: 40%;
  border: 1px solid lightgrey;
  margin-left: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.newcv-form-file label {
  position: absolute;
  right: 10px;
  color: lightgrey;
  font-size: 14px;
}

.newcv-view-skills {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.vacancy {
  width: 100%;
  padding: 20px 5%;
  font-family: Roboto;
}
.vacancy input {
  width: 50%;
}

.vacancy-title {
  font-size: 32px;
  margin: 10px 0;
}

.vacancy-close-editor {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vacancy-closer {
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}

.vacancy-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  width: 100%;
}
.vacancy-actions > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
}
.vacancy-actions > a:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}
.vacancy-actions > a > img {
  width: 15px;
  margin-right: 5px;
}

.vacancy-actions-controls {
  display: flex;
  align-items: center;
}
.vacancy-actions-controls > img {
  height: 20px;
  margin: 0 15px;
  cursor: pointer;
}
.vacancy-actions-controls > img:hover {
  opacity: 0.7;
}

.vacancy-field {
  margin-bottom: 10px;
}
.vacancy-field > input {
  display: block;
}

.vacancy-salary {
  font-size: 18px;
}

.vacancy-employer-info {
  margin: 20px 0;
}

.vacancy-employer {
  display: flex;
  font-size: 20px;
  color: cornflowerblue;
  margin: 5px 0;
}

.vacancy-employer-city {
  display: flex;
  font-size: 16px;
  color: grey;
}

.vacancy-content {
  margin-top: 30px;
}
.vacancy-content > span {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}
.vacancy-content > input, .vacancy-content textarea {
  width: 50%;
}

.vacancy-skills-title {
  font-size: 18px;
  font-weight: 600;
}

.vacancy-skills {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.vacancy-response-title {
  margin: 5px 0;
  font-size: 12px;
  color: lightgrey;
}

.vacancy-response-block {
  display: inline-flex;
  justify-content: space-between;
}

.response-block-footer {
  margin: 25px 0;
  text-align: center;
}

.vacancy-response-select {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  margin-right: 10px;
  padding: 0 10px;
}
.vacancy-response-select > img {
  width: 15px;
}

.vacancy-response-options {
  appearance: none;
  -webkit-appearance: none;
  font-size: 14px;
  outline: none;
  border: none;
  background-color: transparent;
}

.skill {
  font-size: 14px;
}

.delete-skill {
  font-size: 18px;
  cursor: pointer;
}

.vacancy-skills-block {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
}
.vacancy-skills-block > input {
  width: 45%;
}

.vacancy-skill-add {
  background-color: #f7f7f7;
  width: 5%;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  height: calc(100% - 2px);
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.message {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px;
  border: 1px solid;
  border-radius: 5px;
  box-shadow: 1px 2px grey;
  color: white;
  display: flex;
  align-items: center;
  z-index: 6;
  font-size: 14px;
  font-family: Roboto;
}

.message.success {
  border-color: #008080;
  background-color: #00b3b3;
}

.message.error {
  border-color: #cc0000;
  background-color: #ff5050;
}

.message-close {
  font-size: 20px;
  margin-left: 10px;
  cursor: pointer;
}

.modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window {
  width: 300px;
  background-color: #f7f7f7;
  z-index: 3;
  box-shadow: 1px 2px black;
  padding: 15px;
  font-family: Roboto;
  text-align: center;
}
.modal-window span {
  margin-top: 10px;
  font-size: 16px;
  font-weight: 600;
}

.input {
  outline: none;
  padding: 10px;
  font-family: Roboto;
  font-size: 14px;
  border: 1px solid lightgrey;
  margin: 10px 0;
}
.input:focus {
  border-color: blue;
}

.textarea {
  font-size: 14px;
  border: 1px solid lightgrey;
  padding: 10px;
  margin: 10px 0;
  outline: none;
}
.textarea:focus {
  border-color: blue;
}

.account {
  width: 100%;
  padding: 2% 5%;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
}

.account-info {
  padding: 0 15px;
}
.account-info div {
  display: block;
  font-size: 16px;
  margin: 10px 0;
}
.account-info div:first-child {
  font-size: 20px;
  font-weight: 600;
}
.account-info input {
  width: 100%;
}
.account-info img {
  width: 15px;
  margin: 0 5px;
  cursor: pointer;
}
.account-info span {
  font-size: 16px;
}

.account-actions {
  padding: 0 15px;
  display: flex;
  align-items: flex-start;
}
.account-actions > img {
  width: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.spinner-backdrop {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 6;
}

.spinner:before {
  content: "Loading…";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 30px;
}
.spinner:not(:required):before {
  content: "";
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #03ade0;
  animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.skills {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}
.skills > span:first-child {
  font-size: 15px;
}
.skills > span:last-child {
  font-size: 22px;
  cursor: pointer;
  margin-left: 10px;
}

.skills_wo {
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0.8);
  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  padding: 8px 15px;
  border-radius: 3px;
  margin-right: 5px;
  display: flex;
  align-items: center;
}

.skills__add-btn {
  display: flex;
  align-items: center;
  height: calc(100% - 2px);
  padding: 0 10px;
  border-top: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  background-color: #f7f7f7;
  cursor: pointer;
  font-size: 28px;
}

.search {
  padding: 20px 5%;
  height: calc(100vh - 300px);
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
}

.search-title {
  font-size: 22px;
  font-weight: 600;
  color: grey;
  margin: 10px 0;
}

.search-tools {
  background-color: #f7f7f7;
  padding: 15px;
  width: 25%;
}

.search-tools-group {
  margin: 5px 0;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
}

.search-option {
  display: block;
  font-size: 14px;
  margin: 15px 0;
  cursor: pointer;
}
.search-option:hover {
  color: grey;
}

.search-option.active {
  color: red;
  font-weight: 600;
}

.search-results {
  width: 75%;
  padding: 15px;
}

.search-results-item {
  list-style: none;
  margin: 5px 0;
  padding: 5px;
}
.search-results-item > span {
  margin: 5px 0;
  display: block;
  font-size: 16px;
  color: grey;
}
.search-results-item > a {
  text-decoration: none;
  cursor: pointer;
}
.search-results-item > a:hover {
  color: cornflowerblue;
  transition: 0.3s ease;
}

.search-results-filter {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid lightgrey;
}
.search-results-filter > span {
  cursor: pointer;
  margin: 0 10px;
  font-size: 14px;
}
.search-results-filter > span:hover {
  color: grey;
}
.search-results-filter i.ascend:before {
  content: "";
}
.search-results-filter i.descend:before {
  content: "";
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  font-family: Roboto;
  font-size: 16px;
  border: 1px solid lightgrey;
  background-color: #ebebeb;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination-item:hover {
  border-color: black;
}

.pagination-item.active {
  background-color: #fafafa;
  font-weight: 600;
}

.footer {
  width: 100%;
  padding: 0 5%;
  font-family: Roboto;
}

.footer-content {
  padding: 3% 0;
}
.footer-content div {
  margin: 10px 0;
}
.footer-content div:last-child {
  margin-top: 20px;
  color: silver;
}
.footer-content span {
  color: silver;
  cursor: pointer;
}
.footer-content div, .footer-content span {
  font-size: 12px;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 5%;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
