.footer {
	width: 100%;
	padding: 0 5%;
	font-family: Roboto;
}

.footer-content {
	padding: 3% 0;

	div {
		margin: 10px 0;
	}
	div:last-child {
		margin-top: 20px;
		color: silver;
	}
	span {
		color: silver;
		cursor: pointer;
	}
	div, span {
		font-size: 12px;
	}
}