.home {
	width: 100%;
	font-family: Roboto;
}

/* Home top styles */
.home-top {
	height: 350px;
	background-image: url(../../images/hh-back.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0 80%;
	padding: 0 5%;


	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;


}

.home-title {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-grow: 1;
	padding: 0 15px;
	h1 {
		font-size: 55px;
		font-weight: 600;
		color: rgb(255, 255, 255);
	}
}

.home-title-btns {
	display: flex;
	align-items: center;
	& > div {
		margin: 0 15px;
		padding: 15px 25px;
		background-color: transparent;
		color: rgb(254, 254, 254);
		border: 1px solid rgb(254, 254, 254);
		cursor: pointer;
		font-size: 15px;
	}
	& > div:hover {
		background-color: rgb(254, 254, 254);
		color: rgb(0, 0, 0);
		transition: .1s ease;
	}
}

.home-statistics {
	flex-grow: 1;
	color: white;
	border-left: 1px solid lightgrey;
	padding: 0 25px;
	div:first-child {
		margin-bottom: 15px;
	}
	div:last-child {
		margin-top: 15px;
	}
	span {
		font-size: 45px;
	}
	small {
		display: block;
		font-size: 14px;
	}

}

.home-auth-stats-block {
	flex-grow: 1;
	display: flex;
	align-items: center;
	padding: 25px;
}

.home-auth {
	flex-grow: 1;
	display: block;
	width: 300px;
	max-width: 300px;
	height: 300px;
	max-height: 300px;
	background-color: rgba(0, 0, 0, 0.7);
	padding: 20px;
} 

.home-auth-nav {
	display: flex;
	align-items: center;
	cursor: pointer;
	color: silver;
	span {
		font-size: 14px;
	}
	span:first-child {
		padding-right: 15px;
	}
	span:hover {
		color: white;
		transition: 0.3s ease-in;
	}
	span.active {
		color: white;
	}
}

.home-auth-content {
	margin-top: 40px;
	text-align: center;
	color: white;
	& > span {
		font-size: 14px;
	}
}

.home-auth-content-title {
	margin-bottom: 15px;
	font-size: 14px;
}

.home-auth-form {
	input {
		width: 100%;
		margin: 5px 0;
	}
}

.home-auth-content-btn {
	margin: 20px 0;
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 10px;
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: 1px solid cornflowerblue;
	color: cornflowerblue;
	&:hover {
		background-color: cornflowerblue;
		color: white;
		transition: .2s ease-in;
	}
}

.home-auth-social {
	margin: 20px 0;
	display: flex;
	align-items: center;
	span {
		display: block;
		background-color: blue;
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}
}


/* Home Options (middle) */
.home-options {
	width: 100%;
	padding: 20px 5%;
	background-color: rgb(247, 247, 247);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.home-options-item {
	display: flex;
	padding-right: 15px;
	width: 22%; 
	img {
		width: 70px;
		margin-right: 10px;
	}
	span {
		font-size: 14px;
		line-height: 20px;
	}
}

/* Home Main */
.home-main {
	display: grid;
	grid-template-columns: repeat(3, minmax(70px, auto));
	grid-template-rows: 1fr;
	width: 100%;
	padding: 2% 5%;
}

.home-main-employers {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	padding: 15px;
}

.home-main-vacancies {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	padding: 15px;
}

.home-main-block-title {
	font-size: 22px;
	font-weight: 600;
	margin: 10px 0;
}

.home-main-block-item {
	list-style: none;
	margin: 15px 0;
	cursor: pointer;
	& > span {
		display: block;
		margin: 5px 0;
		color: grey;
	}
}

.home-main-cvs {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
	padding: 15px;
}



