.input {
	outline: none;
	padding: 10px;
	font-size: 14px;
	border: 1px solid lightgrey;
	margin: 10px 0;
	&:focus {
		border-color: blue;
	}
}

.textarea {
	font-size: 14px;
	border: 1px solid lightgrey;
	padding: 10px;
	margin: 10px 0;
	outline: none;

	&:focus {
		border-color: blue;
	}
}