.message {
	position: absolute;
	top: 15px;
	right: 15px;
	padding: 5px 10px;
	border: 1px solid;
	border-radius: 5px;
	box-shadow: 1px 2px grey;
	color: white;
	display: flex;
	align-items: center;
	z-index: 6;
	font-size: 14px;
	font-family: OpenSans;
}

.message.success {
	border-color: #008080;
	background-color: #00b3b3;
}

.message.error {
	border-color: #cc0000;
	background-color: #ff5050;
}

.message-close {
	font-size: 20px;
	margin-left: 10px;
	cursor: pointer;
}