.search {
	padding: 20px 5%;
	height: calc(100vh - 300px);
	display: flex;
	justify-content: space-between;
	font-family: Roboto;
}

.search-title {
	font-size: 22px;
	font-weight: 600;
	color: grey;
	margin: 10px 0;
}

.search-tools {
	background-color: rgb(247, 247, 247);
	padding: 15px;
	width: 25%;
}

.search-tools-group {
	margin: 5px 0;
	padding: 5px;
	border-bottom: 1px solid lightgrey;
}

.search-option {
	display: block;
	font-size: 14px;
	margin: 15px 0;
	cursor: pointer;
	&:hover {
		color: grey;
	}
}

.search-option.active {
	color: red;
	font-weight: 600;
}

.search-results {
	width: 75%;
	padding: 15px;
}

.search-results-item {
	list-style: none;
	margin: 5px 0;
	padding: 5px;
	& > span {
		margin: 5px 0;
		display: block;
		font-size: 16px;
		color: grey;
	}
	& > a {
		text-decoration: none;
		cursor: pointer;
	}
	& > a:hover {
		color: cornflowerblue;
		transition: .3s ease;
	}
}

.search-results-filter {
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid lightgrey;
	& > span {
		cursor: pointer;
		margin: 0 10px;
		font-size: 14px;
	}
	& > span:hover {
		color: grey;
	}
	i.ascend:before {
  			content: "\f0dd";

	}
	i.descend:before {
		content: "\f0de";
	}
}