.signup-employee {
	padding: 25px 0;
	font-family: Roboto;
}

.signup-title {
	font-size: 34px;
	margin-bottom: 20px;
}

.signup-form {
	width: 80%;
}

.signup-form-field {
	margin: 10px 0;
	& > label {
		display: inline-block;
		width: 25%;
		font-size: 14px;
	}
	& > input {
		width: 50%;
	}
	& > span {
		margin-left: calc(25% + 4px);
		display: block;
		font-size: 12px;
		color: grey;
	}
}

.signup-conditions-block {
	display: flex;
	width: 80%;
}

.signup-auth-block {
	width: 25%;
}

.signup-auth-question {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}

.signup-auth-link {
	margin: 5px 0;
	& > a {
		text-decoration: none;
		color: cornflowerblue;
		font-size: 14px;
	}
	& > a:hover {
		color: crimson;
		transition: .2s ease;
	}
}

.signup-conditions {
	display: inline-block;
	width: 50%;
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 10px;
}





