.top-nav {
	width: 100%;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.8);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	color: rgb(250, 250, 250);
	display: flex;
	align-items: center;
	font-family: OpenSansCondensed;
}

.top-nav-wrapper {
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-nav-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.top-nav-items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
}

.top-nav-item {
	font-size: 16px;
	padding: 12px 15px;
	position: relative;
	cursor: pointer;
	height: 100%;
	&:hover {
		background-color: crimson;
		transition: .1s ease;
	}
	span {
		font-size: 16px;
	}
}

.top-nav-item__droplist {
	background-color: rgb(253, 253, 253);
	position: absolute;
	left: 0;
	top: 100%;
	width: 160%;
	z-index: 3;
	box-shadow: 1px 2px grey;
}

.top-nav-item__droplist-item {
	font-size: 16px;
	color: rgb(0, 0, 0);
	cursor: pointer;
	padding: 10px;
	border-bottom: 1px solid #e8e8e8;
	&:hover {
		background-color: rgb(245, 245, 245);
	}
}

.top-nav-search {
	display: flex;
	align-items: center;
	padding: 5px;
	margin: 0 15px;
	background-color: white;
	input{
		background-color: transparent;
		outline: none;
		font-size: 12px;
	}
	input::placeholder {
		color: lightgrey;
	}
	img {
		width: 17px;
	}
}

.top-nav-auth {
	font-size: 16px;
	padding: 10px;
	position: relative;
	height: 100%;
	&:hover {
		background-color: crimson;
		transition: .1s ease;
	}
}

.top-nav-auth-title {
	display: flex;
	align-items: center;
	height: 100%;
	span {
		font-size: 16px;
	}
	img {
		height: 30px;
		margin-right: 10px;
	}
}

.top-nav-auth-droplist {
	position: absolute;
	top: 100%;
	right: 0;
	width: 100%;
	background-color: rgb(250, 250, 250);
	box-shadow: 1px 2px grey;
	z-index: 3;
	& > span {
		display: block;
		padding: 10px;
		border-bottom: 1px solid #e8e8e8;
		cursor: pointer;
		font-size: 16px;
		color: black;
	}
	& > span:hover {
		background-color: rgb(240, 240, 240);
	}
}



