/* Including 3rd part libs */
@import url('../vendor/reset.css');

@font-face {
	font-family: OpenSansCondensed;
 	src: url("../../fonts/Open_Sans_Condensed/OpenSansCondensed-Light.ttf");
 	font-weight: normal;
 	font-style: normal;
}

@font-face {
	font-family: OpenSans;
 	src: url('../../fonts/Open_Sans/OpenSans-Regular.ttf');
 	font-weight: normal;
 	font-style: normal;
}

/* Including components */
@import 'header';
@import 'top-nav';
@import 'home';
@import 'signup-employee';
@import 'signin';
@import 'signup-employer';
@import 'employee-dash';
@import 'employer-dash';
@import 'cv';
@import 'vacancy';
@import 'messages';
@import 'modal';
@import 'btns';
@import 'inputs';
@import 'account';
@import 'spinner';
@import 'search';
@import 'pagination';
@import 'footer';


.wrapper {
	width: 100%;
	height: 100%;
	margin: 0 5%;
	padding: 0;
}